.default {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;
}
.default_overlib {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
}
.default_white {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;
  color: #FFFFFF;
}
.error {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: yellow;
  font-size: 70%;
}
.paging_input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70%;
  color: #FFFFFF;
  text-align: center;
}
.button {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 65%;
  font-weight: bold
}
.button_overlib {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: bold
}
h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 200%;
}
h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180%;
}
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 160%;
}
h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
}
.shortcut {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60%;
}
.white_link {
  color: #FFFFFF;
  text-decoration: underline;
}
.white_link:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.white_link#white_link {
  text-decoration : none;
}
.link {
  color: #000000;
  text-decoration: underline;
}
.link:hover {
  color: #000000;
  text-decoration: none;
}
.link#link {
  text-decoration: none;
}
.closed_link {
  color: #000000;
  text-decoration: line-through;
}
.closed_link:hover {
  color: #000000;
  text-decoration: none;
}
.spacer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-style: normal;
    border-right: dotted 1px #000000;
}
.horizontal_spacer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-style: normal;
    border-top: dotted 1px #000000;
    border-bottom: dotted 1px #000000;
}
.lookup_field {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 55%;
  color: #999999;
  border: 1px solid #999999;
}
.lookup_field_overlib {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  color: #999999;
  border: 1px solid #999999;
}
.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 60%;
}
.small_default {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 60%;
}
.small_default_white {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 60%;
  color: #FFFFFF;
}
.help {
  cursor: help;
  color: #FFFFFF;
  text-decoration: underline;
}
.banner_red {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 70%;
  font-weight: bold;
  border: 1px solid Red;
  padding: 2px 2px 2px 2px;
}

div.view_issue_seperator {
  padding-top: 10px;
}

div.app_messages {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 70%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
}
.custom_field {
    cursor: pointer;
}

.alerts {
    background-color: #FFF91A;  font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    padding: 2px;
}


/**
 * NEW CSS
 */
 
/* Bordered Table */
table.bordered {
    border: 1px solid #255282;
    background: #FFFFFF;  
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: .7em;
}

table.bordered td {
    background: #FFFFFF;
    padding: .3em;
}

table.bordered tr.header {
    background: #DDDDDD;
    font-weight: bold;
    text-align: left;
}

table.bordered td.header {
    background: #556B82;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 2px
}

table.bordered tr.header td {
    background: #DDDDDD;
}

table.bordered td.message {
    background: #556B82;
    text-align: center;
    color: #FFFF00;
    font-weight: bold;
    padding: 3px;
}

table.bordered tr.footer td {
    text-align: center;
    background: #255282;
    color: #FFFFFF;
}

table.bordered td.label {
    font-weight: bold;
}


table.bordered th {
    background: #255282;
    color: #FFFFFF;
    padding: .3em;
    font-weight: bold;
}

table.bordered th.left {
    text-align: left;
}

table.bordered th input {
    font-weight: normal;
}

table.bordered th.label {
    background: #255282;
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
    padding-right: 5px;
}

table.bordered.internal td.label {
    background: #9C494B;
    color: #FFFFFF;
}

table.bordered td.label.internal {
    background: #9C494B !important;
    color: #FFFFFF;
}

/* don't pad left cell if there is a table inside */
table.bordered td > table {
    padding-left: 0px;
}