
<p class="default"><b>This is an automated message sent at your request 
from {$app_title|escape:"html".<br />
<br />
Your full account information is available below.</b><br />
</p>

<table bgcolor="#FFFFFF" width="600" cellspacing="1" cellpadding="2">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2">
        <tr>
          <td align="center" bgcolor="{$cell_color}" class="default_white" nowrap width="150">Full Name:</td>
          <td bgcolor="{$light_color}" width="85%" class="default">{$user.usr_full_name}</td>
        </tr>
        <tr>
          <td align="center" bgcolor="{$cell_color}" class="default_white" nowrap width="150">Email Address:</td>
          <td bgcolor="{$light_color}" width="85%" class="default">{$user.usr_email}</td>
        </tr>
        <tr> 
          <td align="center" bgcolor="{$cell_color}" class="default_white" nowrap width="150">Role:</td>
          <td bgcolor="{$light_color}" width="85%" class="default">{$user.role}</td>
        </tr>
        <tr> 
          <td align="center" bgcolor="{$cell_color}" class="default_white" nowrap width="150">Assigned Projects:</td>
          <td bgcolor="{$light_color}" width="85%" class="default">{$user.projects}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

