layout php
layout node

# Use Node version compatible with Travis.
# Pre-installed Node.js versions on Travis
# - v4.8.6
# - v6.12.0
# - v6.12.1
# - v8.9
# - v8.9.1
export PATH="/usr/local/opt/node@8/bin:$PATH"

[[ -f .envrc.local ]] && source_env .envrc.local
