/.idea
/.project
/.settings
/config/config.php
/config/cas.php
/config/ldap.php
/config/private_key.php
/config/setup.php
/config/sphinx.conf
/config/custom_field/
/config/templates/
/config/workflow/
*.gz
*.gz.md5
/cli/*.phar
/cli/build/
/var/lock/*
!/var/lock/README
/var/log/*
!/var/log/README
/var/cache/*
!/var/cache/README
/misc/routed_emails/*
/misc/routed_notes/*
/localization/*.mo
/localization/*/
/htdocs/components
/tests/_*
/po
*.patch
*.rej
*.orig
/dropin
/vendor
/composer.lock
/composer.phar
/box.phar
/php-cs-fixer.phar
/phpcompatinfo.phar
/.php_cs.cache

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
