*.tar.gz
*.tar.gz.md5
*.tar.gz.asc
*.orig
*.patch
*.rej
*.un~
*~
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.netrwhist
/.idea
/.php_cs*.cache
/.phplint.cache
/.project
/.settings
/dropin
/TODO.*

/box.phar
/codecept.phar
/composer.phar
/gush.phar
/phing.phar
/php-cs-fixer.phar
/phpab.phar
/phpcompatinfo.phar
/phpmd.phar
/phpunit.phar
/cli/*.phar
/cli/build/

/composer.lock
/vendor

/config/cas.php
/config/config.php
/config/irc_config.php
/config/ldap.php
/config/logger.php
/config/private_key.php
/config/secret_key.php
/config/setup.php
/config/sphinx.conf
/config/userscript.js
/config/userstyle.css

/config/custom_field/
/config/templates/
/config/workflow/

/htdocs/components
/htdocs/.htaccess
/eventum-setup

/localization/*.mo
/localization/*/
/po

/tests/_setup.php
/tests/_locales.stamp
!/tests/_bootstrap.php
/tests/ldap.php
/tests/private_key.php
/tests/secret_key.php
/tests/_output/*
/tests/_support/_generated/*
/tests/acceptance.suite.yml
/tests/functional.suite.yml
/tests/unit.suite.yml
/codeception.yml

/misc/routed_emails/*
/misc/routed_notes/*

/var/cache/*
!/var/cache/README
/var/lock/*
!/var/lock/README
/var/log/*
!/var/log/README
