*.gz
*.gz.md5
*.orig
*.patch
*.rej
*.un~
*~
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.netrwhist
/.idea
/.php_cs.cache
/.project
/.settings
/dropin
/TODO.*

/box.phar
/php-cs-fixer.phar
/phpcompatinfo.phar
/phpab.phar
/cli/*.phar
/cli/build/

/composer.lock
/composer.phar
/vendor

/config/cas.php
/config/config.php
/config/irc_config.php
/config/ldap.php
/config/private_key.php
/config/setup.php
/config/sphinx.conf
/config/custom_field/
/config/templates/
/config/workflow/

/htdocs/components
/eventum-setup

/localization/*.mo
/localization/*/

/po
/tests/_*
/tests/ldap.php
/tests/private_key.php

/misc/routed_emails/*
/misc/routed_notes/*

/var/cache/*
!/var/cache/README
/var/lock/*
!/var/lock/README
/var/log/*
!/var/log/README
