language: php
sudo: required
dist: trusty

# disable the default submodule logic
git:
  submodules: false

services:
  - mysql

# https://docs.travis-ci.com/user/languages/php/#choosing-php-versions-to-test-against
jobs:
  # NOTE: when adding/removing jobs, update bin/releng/snapshot.sh travis_log job_id
  allow_failures:
    - php: "7.4snapshot"
    - php: "nightly"
  include:
    - php: "7.1"
    - php: "7.2"
    - php: "7.3"
    - php: "7.4snapshot"
    - php: "nightly"

    # TODO: would be nice to have two separate stages, one for build, and other for actually publishing
    - stage: release
      name: GitHub Release
      php: "7.1"
      script:
        - bin/releng/dist.sh

      # https://docs.travis-ci.com/user/deployment/releases
      # https://docs.travis-ci.com/user/build-stages/deploy-github-releases/
      before_deploy:
        - bin/releng/changelog.sh

      deploy:
        provider: releases
        # Create token in https://github.com/settings/tokens and set as env var:
        # $ travis env set -p GITHUB_API_TOKEN ...
        # or via https://travis-ci.org/eventum/eventum/settings
        api_key: $GITHUB_API_TOKEN
        file_glob: true
        file:
          - eventum-*.tar.xz
        skip_cleanup: true
        overwrite: true
        on:
          repo: eventum/eventum
          tags: true

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - $HOME/.composer/vendor
    - cache
    - vendor

before_install:
  - bin/releng/configure.sh

install:
  - composer install --no-interaction --prefer-dist
  - bin/releng/seed.sh

script:
  - PATH=vendor/bin:$HOME/.composer/vendor/bin:$PATH
  - simple-phpunit --verbose --exclude-group ldap,imap,logger,mail,api,locale,date,crypto

notifications:
  irc:
    channels: "chat.freenode.net#eventum"
    skip_join: true

# vim:ts=2:sw=2:et
