language: php
sudo: required
dist: trusty

# disable the default submodule logic
git:
  submodules: false

matrix:
  fast_finish: true
  include:
    - php: "5.5"
      env: RELEASE=yes
    - php: "5.6"
    - php: "7.0"
    - php: "7.1"
    - php: "hhvm"
    - php: "nightly"
  allow_failures:
    - php: "hhvm"
    - php: "7.0"
    - php: "7.1"
    - php: "nightly"

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - cache
    - vendor

before_install:
  - bin/ci/configure.sh

install:
  - composer install --no-interaction --prefer-dist

script:
  - bin/ci/check_patches.sh
  - phpunit --version
  - phpunit --verbose --exclude-group ldap,imap,logger,mail,api,locale,date,db,crypto
  - bin/ci/dist.sh

before_deploy:
  - bin/ci/changelog.sh

# https://docs.travis-ci.com/user/deployment/releases
deploy:
  provider: releases
  # Create token in https://github.com/settings/tokens and set as env var:
  # $ travis env set -p GITHUB_API_TOKEN ...
  # or via https://travis-ci.org/eventum/eventum/settings
  api_key: $GITHUB_API_TOKEN
  file_glob: true
  file:
    - eventum-*.tar.gz
  skip_cleanup: true
  overwrite: true
  on:
    repo: eventum/eventum
    php: '5.5'
    tags: true

notifications:
  irc:
    channels: "chat.freenode.net#eventum"
    skip_join: true

# vim:ts=2:sw=2:et
