language: php

php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0

cache:
  apt: true
  directories:
    - $HOME/.composer/cache

before_install:
# install all locales used by eventum
  - sudo apt-get update && travis_retry sudo apt-get --reinstall install -qq language-pack-{br,ca,cs,da,de,eo,es,et,fi,fo,fr,he,ht,hu,id,it,ja,ko,lt,lv,nl,oc,pl,pt,ru,si,sv,ta,th,tr,uk,ur,vi,zh-hans}
# display some info from system
  - dpkg --list | grep language-pack
  - echo "extension=ldap.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - locale -a
  - make php-cs-fixer.phar
# pull translations from launchpad
  - bzr branch lp:~glen666/eventum/po po
  - cp -af po/localization/*.po localization

install:
  - composer install --no-interaction --prefer-source
  - make pear-fix

notifications:
  irc:
    channels: "chat.freenode.net#eventum"
    skip_join: true

script:
  - phpunit

# vim:ts=2:sw=2:et
