language: php

php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - php: 7.0

before_install:
# install all locales used by eventum
  - sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-{br,ca,cs,da,de,eo,es,et,fi,fo,fr,he,ht,hu,id,it,ja,ko,lt,lv,nl,oc,pl,pt,ru,si,sv,ta,th,tr,uk,ur,vi,zh-hans}
# display some info from system
  - dpkg --list | grep language-pack
  - php -i
  - locale -a

install:
# workaround https://github.com/composer/composer/issues/2757#issuecomment-48731474
  - sed -i -e 's#pear/#pear-pear.php.net/#' composer.json
  - composer install --no-interaction --prefer-source

notifications:
  irc:
    channels: "chat.freenode.net#eventum"
    skip_join: true

script:
  - phpunit

# vim:ts=2:sw=2:et
