<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	verbose="true"
	bootstrap="tests/bootstrap.php">

	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<const name="PHPUNIT_EVENTUM_TESTSUITE" value="true"/>
		<env name="KERNEL_CLASS" value="Eventum\Kernel"/>
		<server name="SYMFONY_PHPUNIT_VERSION" value="7.5" />
		<!-- https://symfony.com/doc/4.3/components/phpunit_bridge.html#configuration -->
		<server name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=0&amp;max[self]=0&amp;max[direct]=0" />
	<!--
		<ini name="date.timezone" value="UTC" />
		<server name="KERNEL_DIR" value="/path/to/your/app/" />
	-->
	</php>

	<!-- for code coverage -->
	<filter>
		<whitelist>
			<directory>.</directory>
			<exclude>
				<directory>tests</directory>
				<directory>vendor</directory>
			</exclude>
		</whitelist>
	</filter>

	<listeners>
		<listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
	</listeners>
</phpunit>
