{include file="header.tpl.html" extra_title="Issue #$issue_id - Add Time Tracking"}

{if $time_add_result != ''}
    <br />
    <center>
    <span class="default"><b>
    {if $time_add_result == -1}
        An error occurred while trying to run your query
    {elseif $time_add_result == 1}
        Thank you, the time tracking entry was added successfully.
    {/if}
    </b></span>
    </center>
    <script language="JavaScript">
    <!--
    {if $current_user_prefs.close_popup_windows == '1'}
    setTimeout('closeAndRefresh()', 2000);
    {/if}
    //-->
    </script>
    <br />
    {if not $current_user_prefs.close_popup_windows}
    <center>
      <span class="default"><a class="link" href="javascript:void(null);" onClick="javascript:closeAndRefresh();">Continue</a></span>
    </center>
    {/if}
{else}
{literal}
<script language="JavaScript">
<!--
function validateTimeForm(f)
{
    if (isWhitespace(f.summary.value)) {
        selectField(f, 'summary');
        alert('Please enter the summary for this new time tracking entry.');
        return false;
    }
    if (f.category.options[f.category.selectedIndex].value == '') {
        selectField(f, 'category');
        alert('Please choose the time tracking category for this new entry.');
        return false;
    }
    if ((isWhitespace(f.time_spent.value)) || (!isNumberOnly(f.time_spent.value))) {
        selectField(f, 'time_spent');
        alert('Please enter integers (or floating point numbers) on the time spent field.');
        return false;
    }
    if (!isValidDate(f, 'date')) {
        alert('Please select a valid date of work.');
        return false;
    }
    return true;
}
//-->
</script>
{/literal}
<table align="center" width="100%" cellpadding="3">
  <tr>
    <td>
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="0" align="center">
      <form name="add_time_form" onSubmit="javascript:return validateTimeForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
      <input type="hidden" name="cat" value="add_time">
      <input type="hidden" name="issue_id" value="{$issue_id}">
        <tr>
          <td width="100%">
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2">
              {if $current_role > $roles.viewer}
              <tr>
                <td colspan="2" class="default"><b>Record Time Worked:</b></td>
              </tr>
              <tr>
                <td bgcolor="{$internal_color}" class="default_white" width="190" nowrap><b>Summary:</b></td>
                <td bgcolor="{$light_color}" width="100%"><input class="default" type="text" name="summary" size="40">{include file="error_icon.tpl.html" field="summary"}</td>
              </tr>
              <tr>
                <td bgcolor="{$internal_color}" class="default_white" width="190" nowrap><b>Category:</b></td>
                <td bgcolor="{$light_color}" width="100%">
                  <select name="category" class="default">
                    <option value="">Please choose a category</option>
                    {html_options options=$time_categories}
                  </select>
                  {include file="error_icon.tpl.html" field="category"}
                </td>
              </tr>
              <tr>
                <td bgcolor="{$internal_color}" class="default_white" width="190" nowrap><b>Time Spent:</b></td>
                <td bgcolor="{$light_color}" width="100%"><input class="default" type="text" size="5" name="time_spent" class="default"> <span class="default">(in minutes)</span>{include file="error_icon.tpl.html" field="time_spent"}</td>
              </tr>
              <tr>
                <td bgcolor="{$internal_color}" class="default_white" width="190" nowrap><b>Date of Work:</b></td>
                <td bgcolor="{$light_color}" width="100%">
                  {html_select_date start_year='-1' day_value_format='%02d' field_array='date' prefix='' all_extra=' class="default"'}&nbsp;
                  {html_select_time minute_interval=5 field_array='date' prefix='' all_extra=' class="default"' display_seconds=false}
                  <a href="javascript:void(null);" onClick="javascript:updateTimeFields('add_time_form', 'date[Year]', 'date[Month]', 'date[Day]', 'date[Hour]', 'date[Minute]');"><img src="images/icons/refresh.gif" border="0"></a>
                </td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="{$internal_color}" align="center" width="100%" nowrap>
                  <input type="submit" value="Add Time Entry" class="button">
                </td>
              </tr>
              {/if}
            </table>
          </td>
        </tr>
      </form>
      </table>
    </td>
  </tr>
</table>
<script language="JavaScript">
<!--
updateTimeFields('add_time_form', 'date[Year]', 'date[Month]', 'date[Day]', 'date[Hour]', 'date[Minute]');
//-->
</script>
{include file="app_info.tpl.html"}
{/if}
{include file="footer.tpl.html"}