
{literal}
<script language="JavaScript">
<!--
function validateUpload(f)
{
    var field1 = getFormElement(f, 'attachment[]', 0);
    var field2 = getFormElement(f, 'attachment[]', 1);
    var field3 = getFormElement(f, 'attachment[]', 2);
    if ((isWhitespace(field1.value)) && (isWhitespace(field2.value)) && (isWhitespace(field3.value))) {
        errors[errors.length] = new Option('Files', 'attachment[]');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_uploadFile', features);
    popupWin.focus();
}
function deleteAttachment(file_id)
{
    if (!confirm('This action will permanently delete the selected attachment.')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('popup.php?cat=delete_attachment&id=' + file_id, '_popup', features);
        popupWin.focus();
    }
}
function deleteAttachmentFile(file_id)
{
    if (!confirm('This action will permanently delete the selected file.')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('popup.php?cat=delete_file&id=' + file_id, '_popup', features);
        popupWin.focus();
    }
}
//-->
</script>
{/literal}
<br />
<table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td width="100%">
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default" nowrap>
            <b>Attached Files</b>
          </td>
          <td align="right" class="default">
            {if $browser.ie5up or $browser.ns6up or $browser.gecko}
            [ <a id="attachments_link" class="link" href="javascript:void(null);" onClick="javascript:toggleVisibility('attachments');">{get_innerhtml element_name="attachments"}</a> ]
            {/if}
          </td>
        </tr>
        <tr id="attachments1" {get_display_style element_name="attachments"}>
          <td colspan="2">
            <table width="100%" cellpadding="2" cellspacing="1">
              <tr>
                <td class="default_white" bgcolor="{$cell_color}">
                  Files
                </td>
                <td class="default_white" bgcolor="{$cell_color}">
                  Owner
                </td>
                <td class="default_white" bgcolor="{$cell_color}">
                  Date
                </td>
                <td class="default_white" bgcolor="{$cell_color}">
                  Description
                </td>
              </tr>
              {section name="i" loop=$files}
              {cycle values=$cycle assign="row_color"}
              <tr bgcolor="{$row_color}">
                <td class="default">
                  {section name="y" loop=$files[i].files}
                  <a title="download file ({$files[i].files[y].iaf_filename|escape:"html"} - {$files[i].files[y].iaf_filesize})" href="download.php?cat=attachment&id={$files[i].files[y].iaf_id}"><img width="17" height="17" src="{$rel_url}images/file.gif" border="0"></a>
                  <a class="link" title="download file ({$files[i].files[y].iaf_filename|escape:"html"} - {$files[i].files[y].iaf_filesize})" href="download.php?cat=attachment&id={$files[i].files[y].iaf_id}">{$files[i].files[y].iaf_filename|escape:"html"}</a> ({$files[i].files[y].iaf_filesize})
                  {if $current_user_id == $files[i].iat_usr_id}<a class="link" title="delete file" href="javascript:void(null);" onClick="javascript:deleteAttachmentFile({$files[i].files[y].iaf_id});">delete</a>{/if}
                  <br />
                  {/section}
                </td>
                <td class="default" width="15%" nowrap>
                  {$files[i].usr_full_name}
                  {if $current_user_id == $files[i].iat_usr_id}[ <a class="link" title="delete attachment" href="javascript:void(null);" onClick="javascript:deleteAttachment({$files[i].iat_id});">delete</a> ]{/if}
                </td>
                <td class="default" width="20%">{$files[i].iat_created_date}</td>
                <td class="default" width="45%">{$files[i].iat_description}</td>
              </tr>
              {sectionelse}
              <tr>
                <td colspan="4" bgcolor="{$light_color}" align="center" class="default">
                  <b>No attachments could be found.</b>
                </td>
              </tr>
              {/section}
            </table>
          </td>
        </tr>
        <tr id="attachments2" {get_display_style element_name="attachments"}>
          <td colspan="2" class="default"><b>Add New Files:</b></td>
        </tr>
        {if $current_role > $roles.reporter}
        <form name="attachment_form" action="popup.php" method="post" enctype="multipart/form-data" target="_uploadFile" onSubmit="javascript:return checkFormSubmission(this, 'validateUpload');">
        <input type="hidden" name="cat" value="upload_file">
        <input type="hidden" name="issue_id" value="{$smarty.get.id}">
        <tr id="attachments3" {get_display_style element_name="attachments"}>
          <td colspan="2">
            <table width="100%" cellpadding="2" cellspacing="1">
              <tr>
                <td bgcolor="{$cell_color}" class="default_white" width="190" nowrap>
                  <b>Filenames:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <table width="100%" cellpadding="2" cellspacing="0" id="file_table">
                    <tr>
                      <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
                    </tr>
                    <tr>
                      <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
                    </tr>
                    <tr>
                      <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr bgcolor="{$light_color}">
                <td bgcolor="{$cell_color}" class="default_white" width="190" nowrap>
                  <b>Description:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <textarea name="file_description" rows="4" style="width: 97%"></textarea>
                </td>
              </tr>
              <tr bgcolor="{$cell_color}">
                <td colspan="2" align="center">
                  <input type="submit" class="button" value="Upload File">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </form>
        {/if}
      </table>
    </td>
  </tr>
</table>

