
{literal}
<script language="JavaScript">
<!--
function getEmails(f)
{
    if (f.ema_id.options[f.ema_id.selectedIndex].value == '-1') {
        alert('Please select a valid email account.');
        selectField(f, 'ema_id');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_getEmails', features);
    popupWin.focus();
    return true;
}
//-->
</script>
{/literal}

<br />

<form name="check_email_form" onSubmit="javascript:return getEmails(this);" target="_getEmails" action="get_emails.php" method="get">
<input type="hidden" name="cat" value="associate">
<table width="400" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      &nbsp;
    </td>
    <td width="100%">
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td bgcolor="{$light_color}" colspan="6" class="default">
            <b>Check for Emails</b>
          </td>
        </tr>
        <tr>
          <td align="center">
            <span class="default">Email Account:</span>
            <select name="ema_id" class="default">
              <option value="-1">Please select an account</option>
              {html_options options=$accounts}
            </select>
            {include file="error_icon.tpl.html" field="ema_id"}
          </td>
        </tr>
        <tr>
          <td align="center">
            <input type="submit" class="button" value="Check Account">
          <td>
        </tr>
      </table>
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
</table>
</form>

