{include file="header.tpl.html" extra_title=$extra_title}
{include file="navigation.tpl.html"}

<br />
{if $close_result != ""}
<table width="500" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default">
            {if $close_result == -1}
            <b>Sorry, an error happened while trying to run your query.</b>
            {elseif $close_result == 1}
            <b>Thank you, the issue was closed successfully. Please choose 
            from one of the options below:</b>
            <ul>
              <li><a href="view.php?id={$smarty.post.issue_id}" class="link">Open the Issue Details Page</a></li>
              <li><a href="list.php" class="link">Open the Issue Listing Page</a></li>
              {if $app_setup.support_email == 'enabled' and $current_role > $roles.viewer}
              <li><a href="emails.php" class="link">Open the Emails Listing Page</a></li>
              {/if}
            </ul>
            {/if}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{else}
{literal}
<script language="JavaScript">
<!--
function validateClose(f)
{
    if (getSelectedOption(f, 'status') == -1) {
        selectField(f, 'status');
        alert('Please choose the new status for this issue.');
        return false;
    }
    if (isWhitespace(f.reason.value)) {
        selectField(f, 'reason');
        alert('Please enter the reason for closing this issue.');
        return false;
    }
    return true;
}
//-->
</script>
{/literal}
<table width="80%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
<form name="close_form" onSubmit="javascript:return validateClose(this);" method="post" action="close.php">
<input type="hidden" name="cat" value="close">
<input type="hidden" name="issue_id" value="{$smarty.get.id}">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td colspan="2" class="default" nowrap>
            <b>Close Issue</b> (Issue ID: {$smarty.get.id})
          </td>
        </tr>
        <tr>
          <td width="160" bgcolor="{$cell_color}" class="default_white">
            <b>Status: *</b><br />
          </td>
          <td bgcolor="{$light_color}">
            <select class="default" name="status">
              <option value="-1">Please choose a status</option>
              {html_options options=$statuses}
            </select>
            {include file="error_icon.tpl.html" field="status"}
          </td>
        </tr>
        {if $resolutions|@count > 0}
        <tr>
          <td width="160" bgcolor="{$cell_color}" class="default_white">
            <b>Resolution:</b><br />
          </td>
          <td bgcolor="{$light_color}">
            <select class="default" name="resolution">
              {html_options options=$resolutions}
            </select>
          </td>
        </tr>
        {else}
            <input type="hidden" name="resolution" value="">
        {/if}
        <tr>
          <td width="160" bgcolor="{$cell_color}" class="default_white">
            <b>Send Notification About Issue Being Closed?</b><br />
          </td>
          <td bgcolor="{$light_color}" class="default">
            <input type="radio" name="send_notification" checked value="1"> 
            <a id="link" class="link" href="javascript:void(null);" onClick="javascript:checkRadio('close_form', 'send_notification', 0);">Yes</a>&nbsp;&nbsp;
            <input type="radio" name="send_notification" value="0"> 
            <a id="link" class="link" href="javascript:void(null);" onClick="javascript:checkRadio('close_form', 'send_notification', 1);">No</a>
          </td>
        </tr>
        <tr>
          <td width="160" bgcolor="{$internal_color}" class="default_white">
            <b>Internal Note (reason for closing issue): *</b><br />
          </td>
          <td bgcolor="{$light_color}" class="default">
            <textarea name="reason" rows="8" style="width: 97%"></textarea>
            {include file="error_icon.tpl.html" field="reason"}
          </td>
        </tr>
        <tr bgcolor="{$cell_color}">
          <td colspan="2">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td><input class="button" type="button" value="&lt;&lt; Back" onClick="javascript:history.go(-1);"></td>
                <td width="100%" align="center"><input class="button" type="submit" value="Close Issue"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</form>
</table>
{/if}
<br />

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}