<div id="current_filters1" {get_display_style element_name="current_filters"}>
<table bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr id="filter_form1" {get_display_style element_name="filter_form"}>
    <td>
      <table bgcolor="#FFFFAA" width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          {strip}
          <td class="default">
            Current filters:&nbsp;
            {assign var="displayed_count" value=0}
            {foreach from=$filter_info item=filter key=filter_key}
            {assign var=filter_param value=$filter.param}
            {if $filter.is_custom == 1}
              {assign var=fld_id value=$filter.fld_id}
              {assign var=filter_details value=$options.custom_field.$fld_id}
            {else}
              {assign var=filter_details value=$options.$filter_param}
            {/if}
            {if $filter_param != 'sort_order' && $filter_param != 'sort_by' && $filter_param != 'rows' && $filter_param != 'search_type' && 
                $filter_details != '' && $filter_details != '0' && ($filter_details.Year != '' OR $filter_details.time_period != '' 
                OR $filter.is_custom == 1)}
              {if $displayed_count != 0}, {/if}
              <b>{if $filter_param == 'keywords' && $options.use_fulltext == 1}Fulltext&nbsp;{/if}{$filter.title}</b>:&nbsp; 
              {if $filter.is_date == true}
                {if $filter_details.filter_type == 'in_past'}
                  In Past {$filter_details.time_period} hours
                {elseif $filter_details.filter_type == 'null'}
                  Is NULL
                {elseif $filter_details.filter_type == 'between'}
                  {assign var=end_var value=`$filter_param`_end}
                  {assign var=end_details value=$options.$end_var}
                  Is between {$filter_details.Year}-{$filter_details.Month}-{$filter_details.Day} AND &nbsp;
                  {$end_details.Year}-{$end_details.Month}-{$end_details.Day}
                {elseif $filter_details.filter_type == 'greater'}
                  Is greater than {$filter_details.Year}-{$filter_details.Month}-{$filter_details.Day}
                {elseif $filter_details.filter_type == 'less'}
                  Is less than {$filter_details.Year}-{$filter_details.Month}-{$filter_details.Day}
                {/if}
              {elseif $filter_param == 'status'}
                {$status[$filter_details]}
              {elseif $filter_param == 'category'}
                {$categories[$filter_details]}
              {elseif $filter_param == 'priority'}
                {$priorities[$filter_details].pri_title}
              {elseif $filter_param == 'users'}
                {if $filter_details == -1}
                  un-assigned
                {elseif $filter_details == -2}
                  myself and un-assigned
                {elseif $filter_details == -3}
                  myself and my group
                {elseif $filter_details == -4}
                  myself, un-assigned and my group
                {elseif $filter_details|substr:"0":"3" == 'grp'}
                  {assign var=grp_id value=$filter_details|substr:"4"}
                  {$groups[$grp_id]} Group
                {else}
                  {$users[$filter_details]}
                {/if}
              {elseif $filter_param == 'hide_closed'}
                {if $filter_details == 1}
                  Yes
                {/if}
              {elseif $filter_param == 'reporter'}
                {$users[$filter_details]}
              {elseif $filter.is_custom == 1}
                {if $filter.fld_type == 'text' OR $filter.fld_type == 'textarea'}
                  {$filter_details|escape:"html"}
                {else}
                  {$custom_fields_display[$fld_id]}
                {/if}
              {else}
                {$filter_details|escape:"html"}
              {/if}
              {assign var="displayed_count" value=$displayed_count+1}
            {/if}
            {/foreach}
            {if $displayed_count == 0}&nbsp;<i>None</i>{/if}
          </td>
          {/strip}
        </tr>
      </table>
    </td>
  </tr>
</table>

<br />
</div>