{include file="header.tpl.html"}

{if $update_result}
  <br />
  <center>
  <span class="default">
  {if $update_result == -1}
    <b>An error occurred while trying to run your query</b>
  {elseif $update_result == 1}
    <b>Thank you, the custom field values were updated successfully.</b>
  {/if}
  </span>
  </center>
  <script language="JavaScript">
  <!--
  {if $current_user_prefs.close_popup_windows == '1'}
  setTimeout('closeAndRefresh()', 2000);
  {/if}
  //-->
  </script>
  <br />
  {if not $current_user_prefs.close_popup_windows}
  <center>
    <span class="default"><a class="link" href="javascript:void(null);" onClick="javascript:closeAndRefresh();">Continue</a></span>
  </center>
  {/if}
{else}
{literal}
<script language="JavaScript">
<!--
var required_custom_fields = new Array();
function validateForm(f)
{
    checkRequiredCustomFields(f, required_custom_fields);
}
//-->
</script>
{/literal}
<script language="JavaScript" src="js/dynamic_custom_field.js.php?iss_id={$smarty.get.issue_id}"></script>
<form name="custom_field_form" method="post" action="{$smarty.server.PHP_SELF}" onSubmit="javascript:return checkFormSubmission(this, 'validateForm');">
<input type="hidden" name="cat" value="update_values">
<input type="hidden" name="issue_id" value="{$smarty.get.issue_id}">
<table align="center" width="100%" cellpadding="3">
  <tr>
    <td>
      <table width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td colspan="2" class="default">
            <b>Update Issue Details</b>
          </td>
        </tr>
        {section name="i" loop=$custom_fields}
        {cycle values=$cycle assign="row_color"}
        <tr>
          <td width="120" bgcolor="{$cell_color}" class="default_white">
            <nobr><b>{$custom_fields[i].fld_title}:</b>&nbsp;</nobr>
          </td>
          <td width="100%" bgcolor="{$row_color}">
            <input type="hidden" name="fld_id[]" value="{$custom_fields[i].fld_id}">
            {if $custom_fields[i].fld_type == 'text'}
            <input class="default" type="text" name="custom_fields[{$custom_fields[i].fld_id}]" maxlength="255" size="50" value="{$custom_fields[i].icf_value|escape:"html"}">
            {elseif $custom_fields[i].fld_type == 'textarea'}
            <textarea name="custom_fields[{$custom_fields[i].fld_id}]" rows="10" cols="60">{$custom_fields[i].icf_value|escape:"html"}</textarea>
            {elseif $custom_fields[i].fld_type == 'date'}
            {if $custom_fields[i].icf_value == ''}
            {assign var=date_value value='--'}
            {else}
            {assign var=date_value value=$custom_fields[i].icf_value}
            {/if}
            {html_select_date field_array="custom_fields[`$custom_fields[i].fld_id`]" prefix='' all_extra="class=\"default\"" year_empty='' month_empty='' day_empty='' time=$date_value start_year=-1 end_year=+2 day_value_format=%02d}
            {else}
            <select id="custom_field_{$custom_fields[i].fld_id}" class="default" name="custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}" {if $custom_fields[i].fld_type == 'multiple'}multiple size="3"{/if}>
              {if $custom_fields[i].fld_type != 'multiple'}<option value="-1">Please choose an option</option>{/if}
              {html_options options=$custom_fields[i].field_options selected=$custom_fields[i].selected_cfo_id}
            </select>
            {if $custom_fields[i].dynamic_options|@count > 0}
            <script>custom_field_init_dynamic_options({$custom_fields[i].fld_id});</script>
            {/if}
            {/if}
            {if $custom_fields[i].fld_description != ""}
            <span class="small_default">({$custom_fields[i].fld_description|escape:"html"})</span>
            {/if}
          </td>
        </tr>
        {sectionelse}
        <tr>
          <td align="center" class="default" colspan="2" bgcolor="{$dark_color}">
            <b>No custom field could be found.</b>
          </td>
        </tr>
        {/section}
        <tr>
          <td colspan="2" bgcolor="{$cell_color}">
            <input class="button" type="submit" value="Update Values">&nbsp;&nbsp;
            <input class="button" type="button" value="Close" onClick="javascript:window.close();">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
{/if}

{include file="footer.tpl.html"}