{if $browser.ie == 1}
<span id="SPANjsrs1" style="display: none"><iframe name="jsrs1" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs2" style="display: none"><iframe name="jsrs2" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs3" style="display: none"><iframe name="jsrs3" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs4" style="display: none"><iframe name="jsrs4" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs5" style="display: none"><iframe name="jsrs5" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs6" style="display: none"><iframe name="jsrs6" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs7" style="display: none"><iframe name="jsrs7" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs8" style="display: none"><iframe name="jsrs8" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs9" style="display: none"><iframe name="jsrs9" src="{$app_base_url}misc/blank.html"></iframe></span>
<span id="SPANjsrs10" style="display: none"><iframe name="jsrs10" src="{$app_base_url}misc/blank.html"></iframe></span>
{/if}