{include file="header.tpl.html" extra_title=$extra_title}
{include file="navigation.tpl.html"}
<script language="javascript" src="js/jsrsClient.js"></script>
<script language="javascript" src="js/expandable_cell.js"></script>
{include file="jsrs.tpl.html"}
{if $issue == ""}
  <table width="400" align="center">
    <tr>
      <td>
        &nbsp;<span class="default"><b>Error: The issue #{$smarty.get.id} could not be found in the currently selected project.</b>
        <br /><br />
        &nbsp;<a class="link" href="javascript:history.go(-1);">Go Back</a></span>
      </td>
    </tr>
  </table>
{else}
  {include file="view_form.tpl.html"}
  {include file="custom_fields.tpl.html"}
  {include file="top_link.tpl.html"}
  {include file="attachments.tpl.html"}
  {include file="top_link.tpl.html"}
  {if $app_setup.scm_integration == 'enabled'}
    {include file="checkins.tpl.html"}
    {include file="top_link.tpl.html"}
  {/if}
  {include file="time_tracking.tpl.html"}
  {include file="top_link.tpl.html"}
  {include file="notes.tpl.html"}
  {include file="top_link.tpl.html"}
  {include file="phone_support.tpl.html"}
  {include file="top_link.tpl.html"}
  {if $app_setup.support_email == 'enabled'}
    {include file="email_drafts.tpl.html"}
    {include file="top_link.tpl.html"}
    {include file="support_emails.tpl.html"}
    {include file="top_link.tpl.html"}
  {/if}
{/if}

<form name="go_form" method="get"></form>

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}