<form class="update_password_form" method="post">
    <input type="hidden" name="cat" value="update_password">

    <table class="bordered">
        {if $permissions.update_password}
        <tr>
            <th width="190">
                {t}Change Password{/t}
            </th>
            <td>
                <table>
                    <tr>
                        <td align="right">{t}Current Password{/t}:</td>
                        <td><input type="password" name="password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="password"}</td>
                    </tr>
                    <tr>
                        <td align="right">{t}New Password{/t}:</td>
                        <td><input type="password" name="new_password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="new_password"}</td>
                    </tr>
                    <tr>
                        <td align="right">{t}Confirm New Password{/t}:</td>
                        <td><input type="password" name="confirm_password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="confirm_password"}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" value="{t}Update Password{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
        {else}
        <tr>
            <td colspan="2">Please contact the admin to change your password.</td>
        </tr>
        {/if}
    </table>
</form>