<table id="bulk_update1" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center" {get_display_style element_name="bulk_update"}>
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="1" cellpadding="4">
        <tr>
          <td bgcolor="#FFFFFF" class="default" colspan="3">
            <b>Bulk Update Tool</b>
          </td>
        </tr>
        <tr>
          {assign var="colspan" value=2}
          <td bgcolor="{$cell_color}" class="default_white">Assignment</td>
          <td bgcolor="{$cell_color}" class="default_white">Status</td>
          {if $releases|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">Release</td>
          {/if}
          {if $priorities|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">Priority</td>
          {/if}
          {if $categories|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">Category</td>
          {/if}
        </tr>
        <tr>
          <td>
              <select name="users[]" class="default" size="5" multiple>
                {html_options options=$users}
              </select>
              {include file="error_icon.tpl.html" field="users[]"}
          </td>
          <td>
              <select name="status" class="default">
                <option value=""></option>
                {html_options options=$open_status}
              </select>
              {include file="error_icon.tpl.html" field="status"}
          </td>
          {if $releases|@count > 0}
          <td>
              <select name="release" class="default">
                <option value=""></option>
                {html_options options=$available_releases}
              </select>
              {include file="error_icon.tpl.html" field="release"}
          </td>
          {/if}
          {if $priorities|@count > 0}
          <td>
              <select name="priority" class="default">
                <option value=""></option>
                {html_options options=$priorities}
              </select>
              {include file="error_icon.tpl.html" field="priority"}
          </td>
          {/if}
          {if $categories|@count > 0}
          <td>
              <select name="category" class="default">
                <option value=""></option>
                {html_options options=$categories}
              </select>
              {include file="error_icon.tpl.html" field="category"}
          </td>
          {/if}
        </tr>
        <tr>
          <td bgcolor="{$cell_color}" colspan="{$colspan}" align="center">
            <input type="button" value="Bulk Update" onclick="bulkUpdate()" class="button">
            <input type="button" value="Reset" class="button" onclick="resetBulkUpdate()">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>