{include file="header.tpl.html"}
{include file="navigation.tpl.html"}

{if $issue == ""}
  <table width="300" align="center">
    <tr>
      <td>
        &nbsp;<span class="default"><b>Error: The issue could not be found.</b>
        <br /><br />
        &nbsp;<a class="link" href="javascript:history.go(-1);">Go Back</a></span>
      </td>
    </tr>
  </table>
{elseif $auth_customer == 'denied'}
  <table width="500" align="center">
    <tr>
      <td>
        &nbsp;<span class="default"><b>Sorry, you do not have the required privileges to view this issue.</b>
        <br /><br />
        &nbsp;<a class="link" href="javascript:history.go(-1);">Go Back</a></span>
      </td>
    </tr>
  </table>
{else}
  {if $current_role > $roles.reporter}
  {include file="update_form.tpl.html"}
  {else}
  <center>
<span class="default">
<b>Sorry, but you do not have the required permission level to access this screen.</b>
<br /><br />
<a class="link" href="javascript:history.go(-1);">Go Back</a>
</span>
</center>
  {/if}
{/if}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}