{
    "alias": "eventum",
    "chmod": "0755",
    "files": [
        "cli/eventumrc"
    ],
    "finder": [
        {
            "name": [
                "class.cli_misc.php",
                "class.misc.php",
                "class.command_line.php",
                "class.auth.php",
                "class.date_helper.php"
            ],
            "in": "lib/eventum"
        },
        {
            "name": [
                "AuthCookie.php"
            ],
            "in": "lib/eventum/auth"
        },
        {
            "name": [
                "autoload.php"
            ],
            "in": "."
        },
        {
            "name": [
                "autoload.php"
            ],
            "in": "vendor"
        },
        {
            "name": [
                "*.php"
            ],
            "in": "vendor/composer"
        },
        {
            "name": [
                "RPC.php"
            ],
            "in": "vendor/pear-pear.php.net/XML_RPC"
        },
        {
            "name": [
                "class.Eventum_RPC.php"
            ],
            "in": "vendor/eventum/rpc"
        }
    ],
    "compactors": [
        "Herrera\\Box\\Compactor\\Php"
    ],
    "main": "cli/eventum.php",
    "output": "cli/eventum.phar",
    "stub": true
}
