<tr>
  <td width="120">
    <b>{t}Assignee:{/t}</b>
  </td>
  <td>
    <select size="4" multiple name="issue_field[assignee][]" onChange="showSelections(this.form.name, 'issue_field[assignee][]');">
      {html_options options=$issue_field.options selected=$issue_field.value}
    </select><input type="button" class="shortcut" value="{t}Clear Selections{/t}" onClick="clearSelectedOptions(getFormElement(this.form, 'issue_field[assignee][]'));showSelections(this.form.name, 'issue_field[assignee][]');"><br />
    {include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="issue_field[assignee][]" callbacks="new Array('showSelections(\'update_form\', \'issue_field[assignee][]\')')"}
    <div id="selection_issue_field[assignee][]">{if $issue.assignee}{t}Current Selections:{/t} {$issue.assignee}{/if}</div>
  </td>
</tr>