<tr>
  <th width="120">
    {t}XHGui Profiling{/t}
    {include file="help_link.tpl.html" topic="xhgui"}
  </th>
  <td>
    <table>
      <tr>
        <td colspan="2">
          <label>
            <input type="radio" name="xhgui[status]" value="enabled" {if $setup.xhgui.status == 'enabled'}checked{/if}>
            {t}Enabled{/t}
          </label>
          <label>
            <input type="radio" name="xhgui[status]" value="disabled" {if $setup.xhgui.status != 'enabled' }checked{/if}>
            {t}Disabled{/t}
          </label>
        </td>
      </tr>

      <tr>
        <td width="10%" align="right" nowrap>
          {t}Upload URL{/t}
        </td>
        <td width="90%">
          <input type="text" name="xhgui[upload_url]" value="{$setup.xhgui.upload_url}" size="40" maxlength="32">
          <span>{t escape=no 1="http://localhost:8142/run/import"}(e.g. %1){/t}</span>
        </td>
      </tr>

      <tr>
        <td width="10%" align="right" nowrap>
          {t}Upload token{/t}
        </td>
        <td width="90%">
          <input type="text" name="xhgui[upload_token]" value="{$setup.xhgui.upload_token}" size="40" maxlength="32">
        </td>
      </tr>
    </table>
  </td>
</tr>
