{extends "base.tpl.html"}
{block "title"}Issue #{$issue_id} - Add Time Tracking{/block}

{block "content"}

{if $time_add_result|default:'' != ''}
    <br />
    <center>
    <span><b>
    {if $time_add_result == -1}
        {t}An error occurred while trying to run your query{/t}
    {elseif $time_add_result == 1}
        {t}Thank you, the time tracking entry was added successfully.{/t}
    {/if}
    </b></span>
    </center>
    <script type="text/javascript">
    <!--
	var noparent = {$smarty.get.noparent|default:0};
    {if $current_user_prefs.close_popup_windows|default:0 == '1'}
        setTimeout('Eventum.close_and_refresh(noparent)', 2000);
    {/if}
    //-->
    </script>
    <br />
    {if $current_user_prefs.close_popup_windows|default:0 == 0}
    <center>
      <span><a href="javascript:void(null);" onClick="Eventum.close_and_refresh(noparent);">{t}Continue{/t}</a></span>
    </center>
    {/if}
{else}
{literal}
<script type="text/javascript">
<!--

function validateTimeForm()
{
    if (Validation.isFieldWhitespace('summary')) {
        Validation.selectField('summary');
        alert('{/literal}{t escape=js}Please enter the summary for this new time tracking entry.{/t}{literal}');
        return false;
    }
    if (Eventum.getField('category').val() == '') {
        Validation.selectField('category');
        alert('{/literal}{t escape=js}Please choose the time tracking category for this new entry.{/t}{literal}');
        return false;
    }
    if ((Validation.isFieldWhitespace('time_spent') || (!Validation.isNumberOnly(Eventum.getField('time_spent').val())))) {
        Validation.selectField('time_spent');
        alert('{/literal}{t escape=js}Please enter integers (or floating point numbers) on the time spent field.{/t}{literal}');
        return false;
    }
    if (!Validation.isValidDate('date')) {
        alert('{/literal}{t escape=js}Please select a valid date of work.{/t}{literal}');
        return false;
    }

	var now = new Date();
	var d1 = makeDate(f, 'date');
	if (d1 > now) {
		alert('{/literal}{t}Start time in the future.{/t}{literal}');
		return false;
	}
	var d2 = makeDate(f, 'date2');
	if (d2 > now) {
		alert('{/literal}{t}End time in the future.{/t}{literal}');
		return false;
	}
	return true;
}

$().ready(function() {
    var f = $('#add_time_form');
    Eventum.updateTimeFields(f, 'date[Year]', 'date[Month]', 'date[Day]', 'date[Hour]', 'date[Minute]');
    Eventum.updateTimeFields(f, 'date2[Year]', 'date2[Month]', 'date2[Day]', 'date2[Hour]', 'date2[Minute]');
    f.submit(validateTimeForm);
});
//-->
</script>
{/literal}
      <form id="add_time_form" method="post" action="{$smarty.server.PHP_SELF}">
      <input type="hidden" name="cat" value="add_time">
      <input type="hidden" name="issue_id" value="{$issue_id}">
        <table class="bordered">
          {if $core.current_role > $core.roles.viewer}
          <tr class="title">
            <th colspan="2">{t}Record Time Worked{/t}</th>
          </tr>
          <tr>
            <th width="190" nowrap>{t}Summary{/t}</th>
            <td width="100%"><input type="text" name="summary" size="40">{include file="error_icon.tpl.html" field="summary"}</td>
          </tr>
          <tr>
            <th width="190" nowrap>{t}Category{/t}</th>
            <td width="100%">
              <select name="category">
                <option value="">{t}Please choose a category{/t}</option>
                {html_options options=$time_categories}
              </select>
              {include file="error_icon.tpl.html" field="category"}
            </td>
          </tr>
          <tr>
            <th width="190" nowrap>{t}Time Spent{/t}</th>
            <td width="100%"><input type="text" size="5" name="time_spent" onChange="Eventum.calcDateDiff(this.form, 0)"> <span>({t}in minutes{/t})</span>{include file="error_icon.tpl.html" field="time_spent"}</td>
          </tr>
      <tr>
        <th width="120" nowrap>{t}Work started{/t}:</th>
        <td>
          {html_select_date start_year='-1' day_value_format='%02d' field_array='date' prefix='' all_extra=' onChange="Eventum.calcDateDiff(this.form, 1, this.name)"'}&nbsp;
          {html_select_time minute_interval=5 field_array='date' prefix='' all_extra=' onChange="Eventum.calcDateDiff(this.form, 1, this.name)"' display_seconds=false}
          <a href="javascript:void(null);" onClick="Eventum.updateTimeFields($('form#add_time_form'), 'date[Year]', 'date[Month]', 'date[Day]', 'date[Hour]', 'date[Minute]');Eventum.calcDateDiff($('form#post_note_form'), 11)"><img src="images/icons/refresh.gif" border="0"></a>
        </td>
      </tr>
      <tr>
        <th width="120" nowrap>{t}Work ended{/t}:</th>
        <td>
          {html_select_date start_year='-1' day_value_format='%02d' field_array='date2' prefix='' all_extra=' class="default" onChange="Eventum.calcDateDiff(this.form, 2, this.name)"'}&nbsp;
          {html_select_time minute_interval=5 field_array='date2' prefix='' all_extra=' class="default" onChange="Eventum.calcDateDiff(this.form, 2, this.name)"' display_seconds=false}
          <a href="javascript:void(null);" onClick="Eventum.updateTimeFields($('form#add_time_form'), 'date2[Year]', 'date2[Month]', 'date2[Day]', 'date2[Hour]', 'date2[Minute]'); Eventum.calcDateDiff($('form#post_note_form'), 12)"><img src="images/icons/refresh.gif" border="0"></a>
        </td>
      </tr>

          <tr class="buttons">
            <td colspan="2">
              <input type="submit" value="{t}Add Time Entry{/t}">
            </td>
          </tr>
          {/if}
            </table>
      </form>
{/if}
{/block}