
<hr size="1" noshade color="{$cell_color}">

<table border="0" width="100%" id="app_info">
  <tr>
    <td valign="top" class="footer">
      <i><a href="http://www.mysql.com/products/eventum" target="_mysql" class="link" title="Eventum Issue Tracking System">{$application_title}</a> {$application_version}</i><br />
      <i>Copyright &copy; 2003 - 2008 <a href="http://www.mysql.com" target="_blank" class="link" title="MySQL AB">MySQL AB</a>,
      2008 - 2010 Sun Microsystem Inc.</i>
    </td>
  </tr>
</table>
