<div class="issue_section bordered" id="attachments">
    <div class="title">
        {t}Attached Files{/t} ({$files|@count})
        <span class="menu">
            [ <a href="#top">{t}Back to Top{/t}</a> ]
            [ <span class="js_link" id="toggle_attachments" >{get_display_label element_name="attachments" total=$files|@count}</span> ]
        </span>
    </div>
    <div class="content" {get_display_style element_name='attachments' total=$files|@count}>
        <table class="grid">
          <tr>
            <th>{t}Files{/t}</th>
            <th>{t}Owner{/t}</th>
            {if $core.current_role > $core.roles.customer}
            <th>{t}Status{/t}</th>
            {/if}
            <th>{t}Date{/t}</th>
            <th>{t}Description{/t}</th>
          </tr>
          {section name="i" loop=$files}
          <tr class="{cycle values='odd,even'}">
            <td>
              {section name="y" loop=$files[i].files}
              <a title="{t}download file{/t} ({$files[i].files[y].iaf_filename|escape:"html"} - {$files[i].files[y].iaf_filesize})" href="download.php?cat=attachment&id={$files[i].files[y].iaf_id}"><img width="17" height="17" src="{$core.rel_url}images/file.gif" border="0"></a>
              <a title="{t}download file{/t} ({$files[i].files[y].iaf_filename|escape:"html"} - {$files[i].files[y].iaf_filesize})" href="download.php?cat=attachment&id={$files[i].files[y].iaf_id}">{$files[i].files[y].iaf_filename|escape:"html"}</a> ({$files[i].files[y].iaf_filesize})
              <a class="link" title="{t}view{/t} ({$files[i].files[y].iaf_filename|escape:"html"}" href="download.php?cat=attachment&id={$files[i].files[y].iaf_id}&force_inline=1">view</a>
              {if $core.user.usr_id == $files[i].iat_usr_id OR $core.current_role >= $core.roles.manager}
              <span title="{t}delete file{/t}" data-iaf-id="{$files[i].files[y].iaf_id}" class="js_link delete_file">{t}delete{/t}</span>{/if}
              <br />
              {/section}
            </td>
            <td width="15%" nowrap>
              {$files[i].usr_full_name|escape:"html"}
              {if $core.user.usr_id == $files[i].iat_usr_id OR $core.current_role >= $core.roles.manager}
                [ <span title="{t}delete attachment{/t}" class="js_link delete_attachment" data-iat-id="{$files[i].iat_id}">{t}delete{/t}</span> ]{/if}
            </td>
            {if $core.current_role > $core.roles.customer}
            <td width="5%" align="center">
              {if $files[i].iat_status == 'internal'}
                <span style="color: red;">{$files[i].iat_status|capitalize}</span>
              {else}
                {$files[i].iat_status|capitalize}
              {/if}
            </td>
            {/if}
            <td width="15%" nowrap>{$files[i].iat_created_date}</td>
            <td width="45%">{$files[i].iat_description}</td>
          </tr>
          {sectionelse}
          <tr class="no_results">
            <td colspan="{if $core.current_role > $core.roles.customer}5{else}4{/if}">
              {t}No attachments could be found.{/t}
            </td>
          </tr>
          {/section}
        </table>
    </div>
      {if $core.current_role > $core.roles.viewer}
      <form>
      <div class="buttons">
          <input type="button" value="{t}Upload File{/t}" id='upload_file' data-issue-id="{$issue_id}">
      </div>
      </form>
      {/if}
</div>
