
<br />
<script type="text/javascript">
<!--
var url = '{$smarty.server.PHP_SELF}?cat=associate&';
{literal}
function removeEmails(f)
{
    if (!hasOneChecked(f, 'emails[]')) {
        alert('{/literal}{t escape=js}Please choose which entries need to be removed.{/t}{literal}');
        return false;
    }
    // loop through all of the form elements and build a dynamic url
    for (var i = 0; i < f.elements.length; i++) {
        if ((f.elements[i].name == 'emails[]') && (!f.elements[i].checked)) {
            url += 'item[]=' + f.elements[i].value + '&';
        }
    }
    window.location.href = url;
}
//-->
</script>
{/literal}
<table width="600" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      &nbsp;
    </td>
    <td width="100%">
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td colspan="3">
            <b>{t}Attached Emails{/t}</b>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="2" cellspacing="1" bgcolor="white" width="100%" border="0">
              <tr>
                <td width="10">{t}Remove?{/t}</td>
                <td>{t}Sender{/t}</td>
                <td>{t}Subject{/t}</td>
                <td width="10"><nobr>{t}Notify Sender?{/t}</nobr></td>
              </tr>
              {section name="i" loop=$emails}
              {cycle values=$cycle assign="row_color"}
              <tr bgcolor="{$row_color}">
                <td align="center">
                  <input type="checkbox" name="emails[]" value="{$emails[i].sup_id}">
                </td>
                <td width="30%">
                  {$emails[i].sup_from|escape:"html"}
                </td>
                <td width="50%">
                  {$emails[i].sup_subject|escape:"html"}
                </td>
                <td align="center">
                  <input type="checkbox" name="notify_senders[]" value="{$emails[i].sup_id}">
                </td>
              </tr>
              {/section}
              <tr>
                <td colspan="4">
                  <input type="button" value="{t}Remove Selected{/t}" onClick="removeEmails(this.form);">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
</table>

