<table id="bulk_update1" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center" {get_display_style element_name="bulk_update"}>
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="1" cellpadding="4">
        <tr>
          <td bgcolor="#FFFFFF" class="default" colspan="3">
            <b>{t}Bulk Update Tool{/t}</b>
          </td>
        </tr>
        <tr>
          {assign var="colspan" value=3}
          <td bgcolor="{$cell_color}" class="default_white">{t}Assignment{/t}</td>
          <td bgcolor="{$cell_color}" class="default_white">{t}Status{/t}</td>
          {if $releases|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">{t}Release{/t}</td>
          {/if}
          {if $priorities|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">{t}Priority{/t}</td>
          {/if}
          {if $categories|@count > 0}
          {assign var="colspan" value=$colspan+1}
          <td bgcolor="{$cell_color}" class="default_white">{t}Category{/t}</td>
          {/if}
          <td bgcolor="{$cell_color}" class="default_white">{t}Close{/t}</td>
        </tr>
        <tr>
          <td>
              <select name="users[]" class="default" size="5" multiple>
                {html_options options=$users}
              </select>
              {include file="error_icon.tpl.html" field="users[]"}
          </td>
          <td>
              <select name="status" class="default">
                <option value=""></option>
                {html_options options=$open_status}
              </select>
              {include file="error_icon.tpl.html" field="status"}
          </td>
          {if $releases|@count > 0}
          <td>
              <select name="release" class="default">
                <option value=""></option>
                {html_options options=$available_releases}
              </select>
              {include file="error_icon.tpl.html" field="release"}
          </td>
          {/if}
          {if $priorities|@count > 0}
          <td>
              <select name="priority" class="default">
                <option value=""></option>
                {html_options options=$priorities}
              </select>
              {include file="error_icon.tpl.html" field="priority"}
          </td>
          {/if}
          {if $categories|@count > 0}
          <td>
              <select name="category" class="default">
                <option value=""></option>
                {html_options options=$categories}
              </select>
              {include file="error_icon.tpl.html" field="category"}
          </td>
          {/if}
          <td>
              <span class="default">{t}Select closed status to close issue{/t}</span><br />
              <select name="closed_status" class="default">
                <option value=""></option>
                {html_options options=$closed_status}
              </select>
              <br />
              <a class="link default" id="bulk_set_closed_message" href="#">{t}Set Close Message{/t}</a>
              <br />
              <span class="default">
              {t}Send Notification To{/t}:<br />
              <input id="notification_internal" type="radio" name="notification_list" checked value="internal">
              <label for="notification_internal">{t}Internal Users{/t} ({t}Will save as a note{/t})</label><br />
              <input id="notification_all" type="radio" name="notification_list" value="all">
              <label for="notification_all">{t}All{/t}</label>
              <input type="hidden" name="closed_message" value="" id="closed_message">
              </span>
              
              <div id="close_message_popup" style="display: none">
                  <label for="closed_message">{t}Closed Message{/t}</label><br />
                  <textarea id="closed_message_popup" name="closed_message_popup" rows="8" cols="80">Issue Bulk closed</textarea>
                  <br />
                  <input id="closed_set_message" type="button" value="{t}Set Message{/t}">
              </div>
          </td>
        </tr>
        <tr>
          <td bgcolor="{$cell_color}" colspan="{$colspan}" align="center">
            <input type="button" value="{t}Bulk Update{/t}" onclick="bulkUpdate()" class="button">
            <input type="button" value="{t}Reset{/t}" class="button" onclick="resetBulkUpdate()">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script type="text/javascript">
{literal}
jQuery("#bulk_set_closed_message").bind("click", function (e) {
    jQuery.blockUI({ 
                message: jQuery("#close_message_popup"),
                css: {
                    width: '600px'
                }
                });
});
jQuery("#closed_set_message").bind("click", function () {
    jQuery("#closed_message").val(jQuery("#closed_message_popup").val());
    jQuery.unblockUI();
});
{/literal}
</script>
