
{literal}
<script type="text/javascript">
<!--
function removeCheckins(f)
{
    if (!hasOneChecked(f, 'item[]')) {
        alert('{/literal}{t escape=js}Please choose which entries need to be removed.{/t}{literal}');
        return false;
    }
    if (!confirm('{/literal}{t escape=js}This action will permanently delete the selected entries.{/t}{literal}')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_removeCheckins', features);
        popupWin.focus();
        return true;
    }
}

/**
 * jQuery code that takes <table class=scrollTable> and makes it scrollable if content is over height of 300px
 * or defined data-max-height html5 attribute.
 * The scroll is added only if data-limit-rows html attribute is exceeded,
 * which defaults to 20 if undefined
 */
$(function() {
  var $table = $('table.scrollTable');

  // do this only if there are over 20 entries
  if ($table.find('tbody>tr').length < ($table.data('limit-rows') || 20)) {
    return;
  }

  // copy with into css
  $('table.scrollTable thead th, table.scrollTable tfoot th, table.scrollTable tbody tr:first-child td').each(function(){
    $(this).width($(this).width())
  });

  var $parent = $($table).parent();
  var html = $parent.html();
  var max_height = $table.data('max-height') || 300;
  $(html).appendTo($parent);
  $(html).appendTo($parent);

  // refetch $table
  $table = $('table.scrollTable');
  $table.eq(0).find('tbody').remove();
  $table.eq(0).find('tfoot').remove();
  $table.wrap('<div style="overflow:auto; height:100%; max-height:' + max_height + 'px;">').eq(1).find('thead').remove();
  $table.eq(1).find('tfoot').remove();
  $table.eq(2).find('tbody').remove()
  $table.eq(2).find('thead').remove();

  // scroll content to bottom
  var $scroll_el = $table.eq(1);
  $scroll_el.parent('div').scrollTop($scroll_el.parent('div').scrollTop() + $scroll_el.height());
});

//-->
</script>
{/literal}
<form onSubmit="return removeCheckins(this);" target="_removeCheckins" action="popup.php" method="post">
<input type="hidden" name="cat" value="remove_checkin">
<div class="issue_section bordered">
    <div class="title">
        {t}SCM Integration - Checkins{/t}
        <span class="menu">
            [ <a href="#top">{t}Back to Top{/t}</a> ]
            [ <a href="javascript:void(null);" onClick="toggleVisibility('checkins');">{get_display_label element_name="checkins" total=$checkins|@count}</a> ]
        </span>
    </div>
    <div class="content" {get_display_style element_name='checkins' total=$checkins|@count}>
        <table class="grid">
          <tr>
            <th width="5">
              {if $checkins != ""}
              <input type="button" value="All" class="shortcut" onClick="toggleSelectAll(this.form, 'item[]');">
              {/if}
            </th>
            <th nowrap>{t}Date{/t}</th>
            <th>{t}User{/t}</th>
            <th nowrap>{t}Module / Directory{/t}</th>
            <th nowrap>{t}File{/t}</th>
            <th width="55%">{t}Commit Message{/t}</th>
          </tr>
          {section name="i" loop=$checkins}
          <tr class="{cycle values='odd,even'}">
            <td valign="top">
              <input type="checkbox" name="item[]" value="{$checkins[i].isc_id}">
            </td>
            <td valign="top" nowrap>{$checkins[i].isc_created_date}</td>
            <td valign="top" >{$checkins[i].isc_username|escape:"html"}</td>
            <td valign="top">{$checkins[i].isc_module|escape:"html"}</td>
            <td valign="top" nowrap>
              {if $checkins[i].checkout_url}
                <a title="{t 1=$checkins[i].isc_filename}see the log of of %1{/t}" target="_blank" href="{$checkins[i].scm_log_url}">{$checkins[i].isc_filename|escape:"html"}</a>
                {if $checkins[i].added}
                  ({t}ADDED{/t})
                {elseif $checkins[i].removed}
                  ({t}REMOVED{/t})
                {else}
                  <a title="{t 1=$checkins[i].isc_new_version 2=$checkins[i].isc_filename}see the source of revision %1 of %2{/t}" target="_blank" href="{$checkins[i].checkout_url}">({$checkins[i].isc_new_version})</a>
                {/if}
              {else}
              {$checkins[i].isc_filename|escape:"html"}
              {/if}
              {if $checkins[i].diff_url && !$checkins[i].added && !$checkins[i].removed}
                [<a title="{t 1=$checkins[i].isc_old_version}see the diff to revision %1{/t}" target="_blank" href="{$checkins[i].diff_url}">{t 1=$checkins[i].isc_old_version}diff to %1{/t}</a>]
              {/if}
            </td>
            <td valign=top>
              {$checkins[i].isc_commit_msg}
            </td>
          </tr>
          {sectionelse}
          <tr class="no_results">
            <td colspan="6">
              {t}No checkins could be found.{/t}
            </td>
          </tr>
          {/section}
        </table>
    </div>
    <div class="buttons">
      {if $checkins != ""}
      <input type="button" value="{t}All{/t}" onClick="toggleSelectAll(this.form, 'item[]');">
      <input type="submit" value="{t}Remove Selected{/t}">
      {/if}
    </div>
</div>
</form>

