{include file="header.tpl.html"}

<br />
<center>
  <span class="default">
  {if $result == 1}
  <b>{t}Thank you, your account clocked-in status was changed successfully.{/t}</b>
  {elseif $result == -1}
  <b>{t}An error was found while trying to change your account clocked-in status.{/t}</b>
  {/if}
  </span>
</center>

<script type="text/javascript">
<!--
{if $smarty.get.is_frame == "yes"}
var url = opener.parent.location.href;
{else}
var url = opener.location.href;
{/if}

var email_list_page = '/emails.php';
{literal}
if (url.indexOf(email_list_page + '?') != -1) {
    url = url.substring(0, url.indexOf(email_list_page + '?') + email_list_page.length);
}
{/literal}

var list_page = '/list.php';
{literal}
if (url.indexOf(list_page + '?') != -1) {
    url = url.substring(0, url.indexOf(list_page + '?') + list_page.length);
}
{/literal}

{if $smarty.get.is_frame == "yes"}
opener.parent.location.href = url;
{else}
opener.location.href = url;
{/if}
setTimeout('window.close()', 2000);
//-->
</script>

{include file="footer.tpl.html"}
