{extends "base.tpl.html"}
{block "title"}Confirm{/block}

{block "content"}

<br />
<br />

<table width="400" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        {if $confirm_result != 1}
        <tr>
          <td width="100%">
          <span id="error-header">
            <i class="fa fa-warning" aria-hidden="true"></i>
              {if $cat == 'password'}
                {t}Password Confirmation Error:{/t}
              {else}
                {t}Account Creation Error:{/t}
              {/if}
            </span>
          </td>
        </tr>
        {else}
        <tr>
          <td width="100%"><span style="font-weight: bold; font-size: 160%; color: blue;">{t}Password Confirmation Success{/t}!</span></td>
        </tr>
        {/if}
        <tr>
          <td>
            <br />
            <b>
            {if $confirm_result == -1}
            {t}The provided trial account email address could not be confirmed. Please contact the local Technical Support staff for further assistance.{/t}
            {elseif $confirm_result == -2}
            {t}The provided email address could not be found. Please contact the local Technical Support staff for further assistance.{/t}
            {elseif $confirm_result == -3}
            {t}The provided trial account encrypted hash could not be authenticated. Please contact the local Technical Support staff for further assistance.{/t}
            {elseif $confirm_result == 1}
            {t}Thank you, your request for a new password was confirmed successfully. You should receive an email with your new password shortly.{/t}<br /><br />
            <center><a href="{$core.rel_url}index.php?email={$email}">{t}Back to Login Form{/t}</a></center>
            {/if}
            </b>
            <br />
            <br />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

{/block}
