{extends "base_full.tpl.html"}
{block page_id}duplicate{/block}
{block title}{t 1=$smarty.get.id|intval}Issue #%1 - Duplicate{/t}{/block}

{block "content"}

<br />
<script type="text/javascript">
    {literal}
    <!--
    function validateDuplicate()
    {
        if (!Validation.isNumberOnly(Eventum.getField('duplicated_issue').val())) {
            alert('{/literal}{t escape=js}Please enter the ID of the duplicated issue.{/t}{literal}');
            Validation.selectField('duplicated_issue');
            return false;
        }
        return true;
    }
    //-->
    {/literal}
</script>
<form name="duplicate_form" onSubmit="return validateDuplicate();" method="post" action="duplicate.php">
    <input type="hidden" name="cat" value="mark">
    <input type="hidden" name="issue_id" value="{$smarty.get.id|intval}">
    <table class="bordered grid">
        <tr class="title">
            <th colspan="2" nowrap>
                {t}Mark Issue as Duplicate{/t} ({t}Issue ID:{/t} <a href="{$core.rel_url}view.php?id={$smarty.get.id|intval}">{$smarty.get.id|intval}</a>)
            </th>
        </tr>
        <tr>
            <th width="150">
                {t}Duplicated Issue:{/t} *
            </th>
            <td>
                {include file="include/issue_field.tpl.html" field_name="duplicated_issue" form_name='duplicate_form' exclude_issue=$smarty.get.id|intval error_message="You must enter the ID of an issue that does not have a duplicate status." exclude_duplicates=1}
            </td>
        </tr>
        <tr>
            <th width="150">
                {t}Comments:{/t}<br />
            </th>
            <td>
                <textarea name="comments" rows="8" style="width: 97%"></textarea>
            </td>
        </tr>
        <tr class="buttons">
            <th colspan="2">
                <input type="button" value="&lt;&lt; {t}Back{/t}" onClick="history.go(-1);">
                <input type="submit" value="{t}Mark Issue as Duplicate{/t}">
            </th>
        </tr>
    </table>
</form>
{/block}