{extends "base.tpl.html"}
{block "title"}Issue #{$issue_id} - Upload File{/block}

{block "content"}
{if $core.current_role > $core.roles.viewer}
{if $upload_file_result|default:'' != ''}
    <br />
    <center>
    <span><b>
    {if $upload_file_result == -1}
      {t}An error occurred while trying to process the uploaded file.{/t}
    {elseif $upload_file_result == -2}
      {t}The uploaded file is already attached to the current issue. Please rename the file and try again.{/t}
    {elseif $upload_file_result == 1}
      {t}Thank you, the uploaded file was associated with the issue below.{/t}
    {/if}
    </b></span>
    </center>
    <script type="text/javascript">
    <!--
    {if $current_user_prefs.close_popup_windows == '1' && $upload_file_result == 1}
    setTimeout('Eventum.close_and_refresh()', 2000);
    {/if}
    //-->
    </script>
    <br />
    {if not $current_user_prefs.close_popup_windows}
    <center>
      <span><a href="javascript:void(null);" onClick="Eventum.close_and_refresh();">{t}Continue{/t}</a></span>
    </center>
    {/if}
{else}
{literal}
<script type="text/javascript">
<!--
function validateUpload(f)
{
    var field1 = getFormElement(f, 'attachment[]', 0);
    var field2 = getFormElement(f, 'attachment[]', 1);
    var field3 = getFormElement(f, 'attachment[]', 2);
    if ((isWhitespace(field1.value)) && (isWhitespace(field2.value)) && (isWhitespace(field3.value))) {
        errors[errors.length] = new Option('Files', 'attachment[]');
        return false;
    }
    return true;
}
//-->
</script>
{/literal}
  <table class="bordered">
    <tr class="title">
      <th colspan="2">{t}Add New Files{/t}:</th>
    </tr>
    <form name="attachment_form" action="file_upload.php" method="post" enctype="multipart/form-data" onSubmit="return checkFormSubmission(this, 'validateUpload');">
    <input type="hidden" name="cat" value="upload_file">
    <input type="hidden" name="issue_id" value="{$issue_id}">
      {if $core.current_role > $core.roles.customer}
      <tr>
        <th width="120" nowrap class="internal">
          {t}Status{/t}
        </th>
        <td>
          <select name="status">
            <option value="public">{t}Public{/t} ({t}visible to all{/t})</option>
            <option value="internal">{t}Private{/t} ({t}standard user and above only{/t})</option>
          </select>
        </td>
      </tr>
      {else}
      <input type="hidden" name="status" value="public">
      {/if}
      <tr>
        <th>
          {t}Filenames{/t}
        </th>
        <td>
          <table width="100%" cellpadding="2" cellspacing="0" id="file_table">
            <tr>
              <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
            </tr>
            <tr>
              <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
            </tr>
            <tr>
              <td><input size="50" name="attachment[]" type="file" class="shortcut"></td>
            </tr>
            <tr>
              <td><i>{t 1=$max_attachment_size}Note: The current maximum allowed upload file size is %1{/t}</i></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>
          {t}Description{/t}:
        </th>
        <td>
          <textarea name="file_description" rows="4" style="width: 97%"></textarea>
        </td>
      </tr>
      <tr class="buttons">
        <td colspan="2">
          <input type="submit" value="{t}Upload File{/t}">
        </td>
      </tr>
    </form>
  </table>
{/if}
{else}
<center><span>{t}You do not have the correct role to access this page{/t}</span></center>
{/if}
{/block}