<html>
<head>
<title>{if $extra_title != ""}{$extra_title|escape:"html"} - {/if}{$core.app_setup.tool_caption|default:$application_title|escape:"html"}</title>
<link rel="icon" href="{$core.rel_url}favicon.ico" />
<link rel="stylesheet" href="{$core.rel_url}css/style.css" type="text/css">
<link rel="stylesheet" href="{$core.rel_url}js/jquery/ui.datepicker.css">
<link rel="search" type="application/opensearchdescription+xml" href="{$core.rel_url}opensearch.php" title="{t}Eventum Issues search{/t}" />
<script type="text/javascript">
<!--
var user_prefs = {ldelim}
{if $user_prefs}
	week_firstday : '{$user_prefs.week_firstday}' == '1' ? 1 : 0
{/if}
{rdelim};
//-->
</script>
<script type="text/javascript" src="{$core.rel_url}js/jquery/jquery.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/jquery/form.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/jquery/blockui.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/jquery/ui.datepicker.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/validation.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/browserSniffer.js"></script>
<script type="text/javascript" src="{$core.rel_url}js/global.js"></script>
{if $refresh_rate}
<meta http-equiv="Refresh" content="{$refresh_rate};URL={$core.rel_url}{$refresh_page}">
{/if}
</head>

<body bgcolor="{if $bgcolor}{$bgcolor}{else}#FFFFFF{/if}" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" onBeforeUnload="return handleClose()">
