{extends "base.tpl.html"}
{block "page_id"}history{/block}
{block "title"}#{$issue_id} - History{/block}

{block "content"}
  <table class="bordered grid">
    <tr class="title">
      <th colspan="2">
        {t}History of Changes to Issue{/t} #{$issue_id}
      </th>
    </tr>
    <tr>
        <th>{t}Date{/t}</th>
        <th width="70%">{t}Summary{/t}</th>
      </tr>
      {section name="i" loop=$changes}
      <tr class="{cycle values='odd,even'}">
        <th {if $changes[i].his_min_role > $core.roles.customer}class="internal"{/if} nowrap>
          {$changes[i].his_created_date|timeago}
        </th>
        <td width="85%">
          {$changes[i].his_summary|escape:"html"|activateLinks|replace:"no value set":"<i>no value set</i>"}
        </td>
      </tr>
      {sectionelse}
      <tr>
        <td colspan="2" align="center">
          <i>{t}No changes could be found.{/t}</i>
        </td>
      </tr>
      {/section}
      <tr class="buttons">
        <td colspan="2">
          <input type="button" value="{t}Close{/t}" class="close_window">
        </td>
      </tr>
  </table>

{if $core.current_role > $core.roles.customer}
  <table class="bordered grid internal">
    <tr>
      <th colspan="2">
        {t}History of Reminders Triggered for Issue{/t} #{$smarty.get.iss_id}
      </th>
    </tr>
    <tr>
        <th>{t}Date{/t}</th>
        <th width="70%">{t}Triggered Action{/t}</th>
      </tr>
      {section name="i" loop=$reminders}
      <tr class="{cycle values='odd,even'}">
        <td nowrap>
          {$reminders[i].rmh_created_date|timeago}
        </td>
        <td width="85%">
          {$reminders[i].rma_title|escape:"html"}
        </td>
      </tr>
      {sectionelse}
      <tr class="no_results">
        <td colspan="2">
          {t}No reminders could be found.{/t}
        </td>
      </tr>
      {/section}
      <tr class="buttons">
        <td colspan="2">
          <input type="button" value="{t}Close{/t}" class="close_window">
        </td>
    </tr>
</table>
{/if}
{/block}
