
      {if $news}
            <table width="100%" class="bordered">
              <tr>
                <td>
                  <strong>{t}News and Announcements{/t}</strong>
                </td>
              </tr>
              <tr>
                <td>
                  {section name="i" loop=$news}
                  <b>{$news[i].nws_created_date|timeago} - <a href="news.php?id={$news[i].nws_id}" title="{t}full news entry{/t}">{$news[i].nws_title}</a></b>
                  <br /><br />
                  {$news[i].nws_message|activateLinks:"links"}
                  <br /><br />
                  {/section}
                  <a href="news.php">{t}Read All Notices{/t}</a>
                </td>
              </tr>
            </table>
      {/if}

