{extends "base_full.tpl.html"}
{block "page_classes"}new_issue CustomField GrowingFileField{/block}

{block "javascripts" append}
  <script type="text/javascript" src="{$core.rel_url}ajax/dynamic_custom_field.js.php?form_type=report_form"></script>
  <script type="text/javascript" src="{asset path='js/dynamic_custom_field.js'}"></script>

  {include file="include/dropzone.tpl.html" form="reportForm" param="dropfile"}
{/block}

{block name="content"}
    {include file="include/new_form.tpl.html"}
{/block}
