{include file="header.tpl.html"}
{include file="navigation.tpl.html"}

{if $error_msg == 1}
    <table align="center" width="80%">
        <tr>
            <td>
                <div style="font-size: 24; color: red; border: thin solid Red;" align="center">
                {t}There was an error creating your issue.{/t}
                </div>
            </td>
        </tr>
    </table>
    <br />
{/if}

{if $new_issue_id != "" and $smarty.post.report_stays != "yes"}
<table width="500" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default">
            {if $errors|@count == 0}
            <b>{t}Thank you, the new issue was created successfully. Please choose from one of the options below{/t}:</b>
            {else}
                {t}Thank you, the new issue was created successfully.{/t} <br />
                <span style="color: red">{t}However, the following errors were encountered:{/t}
                <ul>
                {foreach from=$errors name=errors item=error}
                    <li>{$error}</li>
                {/foreach}
                </ul>
                </span>
                {t}Please choose from one of the options below:{/t}</b>
            {/if}
            <ul>
              <li><a href="view.php?id={$new_issue_id}" class="link">{t}Open the Issue Details Page{/t}</a></li>
              <li><a href="list.php" class="link">{t}Open the Issue Listing Page{/t}</a></li>
              {if $app_setup.support_email == 'enabled' and $current_role > $roles.customer}
              <li><a href="emails.php" class="link">{t}Open the Emails Listing Page{/t}</a></li>
              {/if}
              <li><a href="new.php" class="link">{t}Report a New Issue{/t}</a></li>
            </ul>
            <b>{t}Otherwise, you will be automatically redirected to the Issue Details Page in 5 seconds.{/t}</b>
          </td>
        </tr>
        {if $quarantine_status > 0}
        <tr>
            <td align="center" class="default" colspan="2">
                <br />
                <b><span style="color: red">{t}Warning: your issue is currently quarantined.{/t}<br />
                {t 1="faq.php" escape=no}Please see the <a href="%1">FAQ</a> for information regarding quarantined issues.{/t}
                </b>
                <br /><br />
                </span>
            </td>
        </tr>
        {/if}
      </table>
    </td>
  </tr>
</table>
{literal}
<script type="text/javascript">
<!--
setTimeout('openDetailPage()', 5000);
function openDetailPage()
{
{/literal}
    window.location.href = 'view.php?id={$new_issue_id}';
{literal}
}
//-->
</script>
{/literal}
{else}
{include file="new_form.tpl.html"}
{literal}
<script type="text/javascript">
<!--
window.onload = setFocus;
function setFocus()
{
    var f = getForm('report_form');
    var field = getFormElement(f, 'category');
    if ((field != null) && (field.type != 'hidden') && (field.options.length > 1)) {
        field.focus();
    } else {
        var field = getFormElement(f, 'priority');
        if ((field != null) && (field.type != 'hidden')) {
            field.focus();
        } else {
            var field = getFormElement(f, 'summary');
            field.focus();
        }
    }
}
//-->
</script>
{/literal}
{/if}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}
