{literal}
<script type="text/javascript">
<!--
function deleteNote(note_id)
{
    if (!confirm('{/literal}{t escape=js}This action will permanently delete the specified note.{/t}{literal}')) {
        return false;
    }

    var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('popup.php?cat=delete_note&id=' + note_id, '_popup_' + note_id, features);
    popupWin.focus();
}
function convertNote(note_id)
{
    if (!confirm('{/literal}{t escape=js}This note will be deleted & converted to an email, one either sent immediately or saved as a draft.{/t}{literal}')) {
        return false;
    }

    var features = 'width=420,height=180,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('convert_note.php?id=' + note_id, '_convertNote_'+note_id, features);
    popupWin.focus();
}
function viewNote(note_id)
{
    var features = 'width=560,height=500,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var noteWin = window.open('view_note.php?id=' + note_id, '_note_' + note_id, features);
    noteWin.focus();
}
function postInternalNote(issue_id)
{
    var features = 'width=560,height=600,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var noteWin = window.open('post_note.php?issue_id=' + issue_id, '_postNote_' + issue_id, features);
    noteWin.focus();
}
function replyNote(note_id, issue_id)
{
    var features = 'width=560,height=500,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var noteWin = window.open('post_note.php?cat=reply&id=' + note_id + '&issue_id=' + issue_id, '_postNote_'+ issue_id, features);
    noteWin.focus();
}
//-->
</script>
{/literal}
<form name="add_note_form" target="_notes" method="post">
<div class="issue_section bordered internal" id="internal_notes">
    <div class="title">
        {t}Internal Notes{/t} ({$notes|@count})
        <span class="menu">
            [ <a href="#top">{t}Back to Top{/t}</a> ]
            [ <span class="js_link" id="toggle_internal_notes">{get_display_label element_name="internal_notes"}</a> ]
        </span>
    </div>
    <div class="content" {get_display_style element_name='internal_notes'}>
        <table class="grid internal">
          <tr>
            <th nowrap>{include file="expandable_cell/buttons.tpl.html" ec_id="note"}</th>
            <th align="center">#</th>
            <th>{t}Reply{/t}</th>
            <th width="20%">{t}Posted Date{/t}</th>
            <th width="20%">{t}User{/t}</th>
            <th width="60%">{t}Title{/t}</th>
          </tr>
          {section name="i" loop=$notes}
          <tr class="{cycle values='odd,even'}">
            <td nowrap>{include file="expandable_cell/buttons.tpl.html" ec_id="note" list_id=$notes[i].not_id}</td>
            <td align="center">{$smarty.section.i.iteration}</td>
            <td align="center">
              <a title="{t}reply to this note{/t}" href="javascript:void(null);" onClick="replyNote({$notes[i].not_id}, {$smarty.get.id|intval});"><img src="{$core.rel_url}images/icons/reply.gif" border="0"></a>
            </td>
            <td>{$notes[i].not_created_date}</td>
            <td>
              {$notes[i].usr_full_name|escape:"html"}
              {if $core.user.usr_id == $notes[i].not_usr_id OR $core.current_role >= $core.roles.manager}[ <a href="javascript:void(null);" onClick="deleteNote({$notes[i].not_id});">{t}delete{/t}</a> ]{/if}
            </td>
            <td>
              <a title="{t}view note details{/t}" href="javascript:void(null);" onClick="viewNote({$notes[i].not_id});">{$notes[i].not_title|default:"<Empty Title>"|escape:"html"}</a>
              {if $notes[i].not_has_attachment}
              <a title="{t}view note details{/t}" href="javascript:void(null);" onClick="viewNote({$notes[i].not_id});"><img src="{$core.rel_url}images/attachment.gif" border="0"></a>
              {/if}
              {if $notes[i].has_blocked_message} (<a href="javascript:void(null);" onClick="convertNote({$notes[i].not_id});">{t}convert note{/t}</a>){/if}
            </td>
          </tr>
          {include file="expandable_cell/body.tpl.html" ec_id="note" list_id=$notes[i].not_id colspan="6"}
          {sectionelse}
          <tr class="no_results">
            <td colspan="6">
              {t}No internal notes could be found.{/t}
            </td>
          </tr>
          {/section}
        </table>
    </div>
    {if $core.current_role > $core.roles.reporter}
    <div class="buttons">
      <input type="button" value="{t}Post Internal Note{/t}" onClick="postInternalNote({$smarty.get.id|intval});">
    </div>
    {/if}
</div>
</form>