{extends "base.tpl.html"}
{block page_id}notification{/block}
{block title}#{$issue_id} - Notification List{/block}

{block "content"}
<script type="text/javascript">
<!--
var allowed_emails = new Array();
{section name="i" loop=$allowed_emails}
allowed_emails[allowed_emails.length] = '{$allowed_emails[i]}';
{/section}
{literal}
function validate(f)
{
    if (isWhitespace(f.email.value)) {
        alert('{/literal}{t escape=js}Please enter a valid email address.{/t}{literal}');
        selectField(f, 'email');
        return false;
    }
    // extra check to see if the given email address is allowed in this issue or not
    var email = getEmailFromAddress(f.email.value);
    if (!inArray(email, allowed_emails)) {
        var msg = "{/literal}{t escape=js}The given email address{/t}{literal} '" + f.email.value + "' {/literal}{t}is neither a known staff member or customer technical contact.{/t}{literal}";
        msg += "\n{/literal}{t escape=js}Are you sure you want to add this address to the notification list?{/t}{literal}";
        if (!confirm(msg)) {
            return false;
        } else {
            return true;
        }
    } else {
        return true;
    }
}
function addSelection(f, from, to)
{
    var selected = new Array();
    var field = getFormElement(f, from);
    selected = getSelectedItems(field);
    addOptions(f, to, selected);
}
function removeOption(f, field_name)
{
    var field = getFormElement(f, field_name);
    for (var i = 0; i < field.options.length; i++) {
        if (field.options[i].selected) {
            field.options[i] = null;
            removeOption(f, field_name);
        }
    }
}

function checkDelete(f)
{
    if (!hasOneChecked(f, 'items[]')) {
        alert('{/literal}{t escape=js}Please select at least one of the subscribers.{/t}{literal}');
        return false;
    }
    if (!confirm('{/literal}{t escape=js}This action will remove the selected entries.{/t}{literal}')) {
        return false;
    } else {
        return true;
    }
}
//-->
</script>
{/literal}
<form name="notification_form" onSubmit="return validate(this);" method="post" action="{$smarty.server.PHP_SELF}">
<table class="bordered">
    {if $smarty.get.cat|default:'' == 'edit'}
    <input type="hidden" name="cat" value="update">
    <input type="hidden" name="id" value="{$smarty.get.id|intval}">
    {else}
    <input type="hidden" name="cat" value="insert">
    {/if}
    <input type="hidden" name="issue_id" value="{$issue_id}">
    {if $core.current_role > $core.roles.reporter}
    <tr class="title">
      <th colspan="2">
        {t issue_id=$issue_id}Notification Options for Issue #%1{/t}
      </th>
    </tr>
    <tr>
      <td width="120">
        {t}Email{/t}
      </td>
      <td nowrap>
        <input type="text" name="email" size="40" value="{if $info.sub_email|default:'' != ''}{$info.sub_email}{else}{$core.user.usr_email}{/if}">
        {include file="error_icon.tpl.html" field="email"}
      </td>
    </tr>
    <tr>
      <td width="120">
        <b>{t}Get a Notification When{/t}:</b>
      </td>
      <td>
        <input type="checkbox" name="actions[]" {if ($info == '' && $default_actions.emails == 1) || $info.emails == 1}checked{/if} value="emails"> <a id="link" href="javascript:void(null);" onClick="toggleCheckbox('notification_form', 'actions[]', 0);">{t}Emails are Received or Sent{/t}</a><br />
        <input type="checkbox" name="actions[]" {if $info == '' || $info.updated == 1}checked{/if} value="updated"> <a id="link" href="javascript:void(null);" onClick="toggleCheckbox('notification_form', 'actions[]', 1);">{t}Overview or Details are Changed{/t}</a><br />
        <input type="checkbox" name="actions[]" {if $info == '' || $info.closed == 1}checked{/if} value="closed"> <a id="link" href="javascript:void(null);" onClick="toggleCheckbox('notification_form', 'actions[]', 2);">{t}Issue is Closed{/t}</a><br />
        <input type="checkbox" name="actions[]" {if $info == '' || $info.files == 1}checked{/if} value="files"> <a id="link" href="javascript:void(null);" onClick="toggleCheckbox('notification_form', 'actions[]', 3);">{t}Files are Attached{/t}</a>
      </td>
    </tr>
    <tr class="buttons">
      <td colspan="2">
        {if $smarty.get.cat|default:'' == 'edit'}
        <input type="submit" value="{t}Update Subscription{/t}">
        {else}
        <input type="submit" value="{t}Add Subscription{/t}">
        {/if}
        <input type="reset" value="{t}Reset{/t}">
      </td>
    </tr>
    </form>
    {/if}
</table>


<form onSubmit="return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
<input type="hidden" name="cat" value="delete">
<input type="hidden" name="issue_id" value="{$issue_id}">
<table class="bordered grid">
    <tr class="title">
      <th colspan="2">
        {t}Existing Subscribers for this Issue{/t}
      </th>
    </tr>
          <tr>
            <th nowrap>&nbsp;</th>
            <th>{t}Email{/t} ({t}click to edit{/t})</th>
            <th>{t}Actions{/t}</th>
          </tr>
          {section name="i" loop=$list}
          <tr class="{cycle values='odd,even'}">
            <td width="4" nowrap><input type="checkbox" name="items[]" value="{$list[i].sub_id}"></td>
            <td width="60%">
              <a href="{$smarty.server.PHP_SELF}?cat=edit&iss_id={$list[i].sub_iss_id}&id={$list[i].sub_id}" title="{t}update this entry{/t}">{$list[i].sub_email|escape:"html"}</a>
            </td>
            <td width="40%">
              {$list[i].actions}
            </td>
          </tr>
          {sectionelse}
          <tr class="no_results">
            <td colspan="3">
              {t}No subscribers could be found.{/t}
            </td>
          </tr>
          {/section}
          {if $core.current_role > $core.roles.reporter}
          <tr class="buttons">
            <td colspan="3">
              <input type="submit" value="{t}Remove Selected{/t}">
              <input type="button" value="{t}Close{/t}" onClick="Eventum.close_and_refresh();">
            </td>
          </tr>
          {/if}
  </table>
  </form>
{/block}