{extends "base.tpl.html"}
{block "title"}Offline{/block}
{block "page_id"}offline{/block}

{block "content"}

<br />
<br />

<table width="400" bgcolor="#003366" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td><img src="{$core.rel_url}images/icons/error.gif" hspace="2" vspace="2" border="0" align="left"></td>
          <td width="100%"><span style="font-weight: bold; font-size: 160%; color: red;">{t}Database Error{/t}:</span></td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <b>
            {if $error_type == 'db'}
            {t}There seems to be a problem connecting to the database server specified in your configuration file. Please contact your local system administrator for further assistance.{/t}
            {elseif $error_type == 'table'}
            {t}There seems to be a problem finding the required database tables in the database server specified in your configuration file. Please contact your local system administrator for further assistance.{/t}
            {/if}
            </b>
            <br />
            <br />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{/block}