{extends "base.tpl.html"}
{block "page_classes"}popup_{$cat|escape}{/block}

{block "content"}
<div class="popup">
{if $note_add_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $note_add_result|default:'' == -2}
  {t}Please enter the note text on the input box below.{/t}
{elseif $note_add_result|default:'' == 1}
  {t}Thank you, the new note was created and associated with the issue below.{/t}
{/if}

{if $note_delete_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $note_delete_result|default:'' == -2}
  {t}You do not have permission to delete this note.{/t}
{elseif $note_delete_result|default:'' == 1}
  {t}Thank you, the note was removed successfully.{/t}
{/if}

{if $time_delete_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $time_delete_result|default:'' == 1}
  {t}Thank you, the time tracking entry was removed successfully.{/t}
{/if}

{if $bulk_update_result|default:'' == 1}
  {t}Thank you, the selected issues were updated successfully.{/t}
{elseif $bulk_update_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{/if}

{if $save_filter_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $save_filter_result|default:'' == 1}
  {t}Thank you, the custom filter was saved successfully.{/t}
{/if}

{if $delete_filter_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $delete_filter_result|default:'' == 1}
  {t}Thank you, the selected custom filters were removed successfully.{/t}
{/if}

{if $remove_association_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $remove_association_result|default:'' == 1}
  {t}Thank you, the association to the selected emails were removed successfully.{/t}
{/if}

{if $remove_attachment_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $remove_attachment_result|default:'' == -2}
  {t}You do not have the permission to remove this attachment.{/t}
{elseif $remove_attachment_result|default:'' == 1}
  {t}Thank you, the attachment was removed successfully.{/t}
{/if}

{if $remove_file_result|default:'' == -1}
  {t}An error occurred while trying to delete this file{/t}
{elseif $remove_file_result|default:'' == -2}
  {t}You do not have the permission to remove this file.{/t}
{elseif $remove_file_result|default:'' == 1}
  {t}Thank you, the file was removed successfully.{/t}
{/if}

{if $remove_checkin_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $remove_checkin_result|default:'' == 1}
  {t}Thank you, the selected checkin information entries were removed successfully.{/t}
{/if}


{if $remove_email_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $remove_email_result|default:'' == 1}
  {t}Thank you, the emails were marked as removed successfully.{/t}
{/if}

{if $clear_duplicate_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $clear_duplicate_result|default:'' == 1}
  {t}Thank you, the current issue is no longer marked as a duplicate.{/t}
{/if}

{if $delete_phone_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $delete_phone_result|default:'' == -2}
  {t}You do not have permission to remove this phone support entry.{/t}
{elseif $delete_phone_result|default:'' == 1}
  {t}Thank you, the phone support entry was removed successfully.{/t}
{elseif $delete_phone_result|default:'' == 2}
  {t}Thank you, the phone support entry was removed successfully.{/t}<br />
  {t}The associated time tracking entry was also deleted.{/t}
{/if}

{if $new_status_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $new_status_result|default:'' == 1}
  {t}Thank you, the issue was updated successfully.{/t}
{/if}

{if $unassign_result|default:'' == -1}
  {t}An error occurred while trying to run your query{/t}
{elseif $unassign_result|default:'' == -2}
  {t}Error: the issue is already unassigned.{/t}
{elseif $unassign_result|default:'' == 1}
  {t}Thank you, the issue was unassigned successfully.{/t}
{/if}

{if $authorize_reply_result|default:'' == -1}
  {t}Error: you are already authorized to send emails in this issue.{/t}
{elseif $authorize_reply_result|default:'' == 1}
  {t}Thank you, you are now authorized to send emails in this issue.{/t}
{/if}

{if $remove_quarantine_result|default:'' == -1}
    {t}An error occurred while trying to run your query{/t}
{elseif $remove_quarantine_result|default:'' == 1}
  {t}Thank you, this issue was removed from quarantine.{/t}
{/if}

{if $selfnotify_result|default:'' == -1}
    {t}An error occurred subscribing you to the issue{/t}
{elseif $selfnotify_result|default:'' == 1}
  {t}Thank you, you are now subscribed to this issue.{/t}
{/if}



<script type="text/javascript">
<!--
{if $core.current_user_prefs.close_popup_windows == '1'}
setTimeout('Eventum.close_and_refresh()', 2000);
{/if}
//-->
</script>
<br />
{if not $core.current_user_prefs.close_popup_windows}
<center>
  <span><a href="javascript:void(null);" onClick="Eventum.close_and_refresh();">{t}Continue{/t}</a></span>
</center>
{/if}

</div>
{/block}
