{extends "base_full.tpl.html"}
{block "title"}{t}Preferences{/t}{/block}

{block "content"}

<form class="update_name_form" method="post">
    <input type="hidden" name="cat" value="update_name">
    <table class="bordered">
        {if $core.current_role != $core.roles.customer && $can_update_name}
        <tr>
            <th width="190">
                {t}Full Name{/t}:
            </th>
            <td>
                <input type="text" name="full_name" size="40" value="{$user_info.usr_full_name|escape:"html"}">
                {include file="error_icon.tpl.html" field="full_name"}
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" value="{t}Update Full Name{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
        {else}
        <tr>
            <td colspan="2">Please contact the admin to change your name.</td>
        </tr>
        {/if}
    </table>
</form>

<form class="update_email_form" method="post">
    <input type="hidden" name="cat" value="update_email">
    <table class="bordered">
{if $core.current_role != $core.roles.customer && $can_update_email}
        <tr>
            <th width="190">
                {t}Login{/t} &amp; {t}Email Address{/t}
            </th>
            <td>
                <input type="text" name="email" size="40" value="{$user_info.usr_email|escape:"html"}">
                {include file="error_icon.tpl.html" field="email"}
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" value="{t}Update Email Address{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
        {else}
        <tr>
            <td colspan="2">Please contact the admin to change your email.</td>
        </tr>
{/if}
    </table>
</form>

{if $can_update_password}
<form class="update_password_form" method="post">
    <input type="hidden" name="cat" value="update_password">
    <table class="bordered">
        <tr>
            <th width="190">
                {t}Change Password{/t}
            </th>
            <td>
                <table>
                    <tr>
                        <td align="right">{t}Current Password{/t}:</td>
                        <td><input type="password" name="password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="password"}</td>
                    </tr>
                    <tr>
                        <td align="right">{t}New Password{/t}:</td>
                        <td><input type="password" name="new_password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="new_password"}</td>
                    </tr>
                    <tr>
                        <td align="right">{t}Confirm New Password{/t}:</td>
                        <td><input type="password" name="confirm_password" size="20" autocomplete="off"> {include file="error_icon.tpl.html" field="confirm_password"}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" value="{t}Update Password{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
        {else}
        <tr>
            <td colspan="2">Please contact the admin to change your password.</td>
        </tr>
        {/if}
    </table>
</form>

<table class="bordered">
    <form class="account_prefs_form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="cat" value="update_account">
        <tr class="title">
            <th colspan="{$assigned_projects|@count+1}">
                {t}Account Preferences{/t}
        <span class="menu">
            {include file="help_link.tpl.html" topic="preferences"}
        </span>
            </th>
        </tr>
        {if $avail_langs}
        <tr>
            <th width="190">
                {t}Available Languages{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <select name="language">
                    <option value="en_US">English</option>
                    {html_options options=$avail_langs selected=$current_locale}
                </select>
            </td>
        </tr>
        {/if}
        <tr>
            <th width="190">
                {t}Timezone{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <select name="timezone">
                    {html_options values=$zones output=$zones selected=$user_prefs.timezone}
                </select>
                {include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="timezone"}
            </td>
        </tr>
        <tr>
            <th width="190">
                {t}Week starts on{/t}:
            </th>
            <td colspan="{$assigned_projects|@count}">
                <label><input type="radio" name="week_firstday" {if $user_prefs.week_firstday != "1"}checked{/if} value="0"> {t}Sunday{/t}</label>
                <label><input type="radio" name="week_firstday" {if $user_prefs.week_firstday == "1"}checked{/if} value="1"> {t}Monday{/t}</label>
            </td>
        </tr>

        <tr>
            <th width="190">
                {t}Display relative dates{/t}:
            </th>
            <td colspan="{$assigned_projects|@count}">
                <label><input type="radio" name="relative_date" {if $user_prefs.relative_date == "1"}checked{/if} value="1"> {t}Yes{/t}</label>
                <label><input type="radio" name="relative_date" {if $user_prefs.relative_date != "1"}checked{/if} value="0"> {t}No{/t}</label>
            </td>
        </tr>

        <tr>
            <th width="190">
                {t}Markdown rendering{/t}:
            </th>
            <td colspan="{$assigned_projects|@count}">
                <label><input type="radio" name="markdown" {if $user_prefs.markdown == "1"}checked{/if} value="1"> {t}Yes{/t}</label>
                <label><input type="radio" name="markdown" {if $user_prefs.markdown != "1"}checked{/if} value="0"> {t}No{/t}</label>
            </td>
        </tr>

        <tr>
          <th width="190">
            {t}Collapse email replies{/t}:
          </th>
          <td colspan="{$assigned_projects|@count}">
            <label><input type="radio" name="collapsed_emails" {if $user_prefs.collapsed_emails == "1"}checked{/if} value="1"> {t}Yes{/t}</label>
            <label><input type="radio" name="collapsed_emails" {if $user_prefs.collapsed_emails != "1"}checked{/if} value="0"> {t}No{/t}</label>
          </td>
        </tr>

      {if $core.current_role != $core.roles.customer}
        <tr>
            <th width="190">
                {t}Automatically close confirmation popup windows?{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <label><input type="radio" name="close_popup_windows" {if $user_prefs.close_popup_windows == "1"}checked{/if} value="1"> {t}Yes{/t}</label>&nbsp;&nbsp;
                <label><input type="radio" name="close_popup_windows" {if $user_prefs.close_popup_windows != "1"}checked{/if} value="0"> {t}No{/t}</label>
            </td>
        </tr>
        {/if}
        {if $core.current_role > $core.roles.customer}
        <tr>
            <td width="190">
                &nbsp;
            </td>
            {foreach from=$assigned_projects key=prj_id item=project_info}
            <td>
                <strong>{$project_info.prj_title}</strong>
            </td>
            {/foreach}
        </tr>
        <tr>
            <th width="190">
                {t}Receive emails when all issues are created?{/t}
            </th>
            {foreach from=$assigned_projects key=prj_id item=project_info}
            <td>
                <label><input type="radio" name="receive_new_issue_email[{$prj_id}]" {if $user_prefs.receive_new_issue_email.$prj_id}checked{/if} value="1">{t}Yes{/t}</label>&nbsp;&nbsp;
                <label><input type="radio" name="receive_new_issue_email[{$prj_id}]" {if not $user_prefs.receive_new_issue_email.$prj_id}checked{/if} value="0">{t}No{/t}</label>
            </td>
            {/foreach}
        </tr>
        <tr>
            <th width="190">
                {t}Receive emails when new issues are assigned to you?{/t}
            </th>
            {foreach from=$assigned_projects key=prj_id item=project_info}
            <td>
                <label><input type="radio" name="receive_assigned_email[{$prj_id}]" {if $user_prefs.receive_assigned_email.$prj_id}checked{/if} value="1">{t}Yes{/t}</label>
                <label><input type="radio" name="receive_assigned_email[{$prj_id}]" {if not $user_prefs.receive_assigned_email.$prj_id}checked{/if} value="0">{t}No{/t}</label>
            </td>
            {/foreach}
        </tr>
        <tr>
            <th width="190">
                {t}Receive notifications for your own actions?{/t}
            </th>
            {foreach from=$assigned_projects key=prj_id item=project_info}
            <td>
                <label><input type="radio" name="receive_copy_of_own_action[{$prj_id}]" {if $user_prefs.receive_copy_of_own_action.$prj_id}checked{/if} value="1">{t}Yes{/t}</label>
                <label><input type="radio" name="receive_copy_of_own_action[{$prj_id}]" {if not $user_prefs.receive_copy_of_own_action.$prj_id}checked{/if} value="0">{t}No{/t}</label>
            </td>
            {/foreach}
        </tr>
        {else}
        <input type="hidden" name="close_popup_windows" value="0">
        <input type="hidden" name="receive_assigned_email" value="0">
        <input type="hidden" name="receive_new_issue_email" value="0">
        {/if}
        <tr>
            <th width="190">
                {t}Refresh Rate for Issue Listing Page{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <input type="text" size="10" name="list_refresh_rate" value="{$user_prefs.list_refresh_rate|escape:"html"}">
                <em>({t}in minutes{/t})</em>
            </td>
        </tr>
        {if $core.current_role > $core.roles.customer}
        <tr>
            <th width="190">
                {t}Refresh Rate for Email Listing Page{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <input type="text" size="10" name="email_refresh_rate" value="{$user_prefs.email_refresh_rate|escape:"html"}">
                <em>({t}in minutes{/t})</em>
            </td>
        </tr>
        <tr>
            <th width="190">
                {t}Email Signature{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <label>
                    {t}Edit Signature{/t}:<br />
                    <textarea name="email_signature" style="width: 97%" rows="10">{$user_prefs.email_signature}</textarea>
                </label>

                <label>
                    {t}Upload New Signature{/t}:
                    <input size="40" type="file" name="file_signature">
                </label><br />

                <label>
                    <input type="checkbox" name="auto_append_email_sig" value="1" {if $user_prefs.auto_append_email_sig == '1'}checked{/if}>
                    {t}Automatically append email signature when composing web based emails{/t}
                </label><br />

                <label>
                    <input type="checkbox" name="auto_append_note_sig" value="1" {if $user_prefs.auto_append_note_sig == '1'}checked{/if}>
                    {t}Automatically append email signature when composing internal notes{/t}
                </label>
            </td>
        </tr>
        <tr>
            <th width="190">
                {t}SMS Email Address{/t}
            </th>
            <td colspan="{$assigned_projects|@count}">
                <input type="text" size="40" name="sms_email" value="{$user_prefs.sms_email|escape:"html"}">
                <em>({t}only used for automatic issue reminders{/t})</em>
            </td>
        </tr>
        {else}
        <input type="hidden" name="email_refresh_rate" value="10">
        {/if}
        <tr class="buttons">
            <td colspan="{$assigned_projects|@count+1}">
                <input type="submit" value="{t}Update Preferences{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
    </form>
</table>

{if $core.current_role >= $core.roles.standard_user}
    <form id="api_token_form" method="post">
        <input type="hidden" name="cat" value="regenerate_token">
        <table class="bordered api_token">
            <tr class="title">
                <th colspan="4">
                    {t}API Key{/t}
                </th>
            </tr>
            <tr>
                <th>
                    {t}Status{/t}
                </th>
                <th>
                    {t}Created{/t}
                </th>
                <th class="token">
                    {t}Token{/t}
                </th>
            </tr>
            {foreach from=$api_tokens item=token}
            <tr class="{$token.status}">
                <td>
                    {$token.status}
                </td>
                <td>
                    {$token.created}
                </td>
                <td class="token">
                    <input type="text" class="api_token" value="{$token.token}" />
                </td>
            </tr>
            {/foreach}
            <tr class="buttons">
                <td colspan="4">
                    <input type="submit" value="{t}Regenerate{/t}">
                    <input type="button" value="{t}Show revoked{/t}" id="show_revoked">
                </td>
            </tr>
        </table>
    </form>
{/if}
{/block}
