{capture assign="extra_title"}{t}Select Project{/t}{/capture}
{include file="header.tpl.html" extra_title=$extra_title}

<br /><br />
{literal}
<script type="text/javascript">
<!--
function validateForm(f)
{
    if (!hasOneSelected(f, 'project')) {
        alert('{/literal}{t escape=js}Please choose the project.{/t}{literal}');
        selectField(f, 'project');
        return false;
    }
    return true;
}
//-->
</script>
{/literal}
<form name="login_form" onSubmit="return validateForm(this);" method="post" action="">
<input type="hidden" name="cat" value="select">
<input type="hidden" name="url" value="{$smarty.get.url}">
<table align="center" width="400" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
  <tr>
    <td>
      <table bgcolor="#006486" width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td colspan="2" align="center">
            <h1 style="color: white;">{t}Select Project{/t}</h1>
            <hr size="1" noshade color="#000000">
          </td>
        </tr>
        {if $err != 0 || $smarty.get.err != 0}
        <tr>
          <td colspan="2" align="center" class="error">
            <b>
            {if $err == 1 || $smarty.get.err == 1}
              {t}You are not allowed to use the selected project.{/t}
            {/if}
            </b>
          </td>
        </tr>
        {/if}
        <tr>
          <td align="right" width="40%" class="default_white"><b>{t}Project{/t}:</b></td>
          <td width="60%">
            <select accessKey="p" name="project" class="default" tabindex="0">
              {html_options options=$active_projects}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="default_white" align="center">
            <label for="remember" accesskey="r"></label>
            <input type="checkbox" id="remember" name="remember" value="1"> <b><a id="white_link" class="white_link" href="javascript:void(null);" onClick="toggleCheckbox('login_form', 'remember');">{t}Remember Selection{/t}</a></b>
          </td>
        </tr>
        <tr align="center">
          <td colspan="2">
            <input type="submit" name="Submit" value="{t}Continue{/t} &gt;&gt;" class="button">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>

{include file="footer.tpl.html"}
