{extends "base.tpl.html"}
{block "title"}Select Project{/block}
{block "page_id"}select_project{/block}

{block "content"}
<br />
<form name="login_form" method="post" action="">
    <input type="hidden" name="cat" value="select">
    <input type="hidden" name="url" value="{$smarty.get.url|default:''}">
    <table align="center" width="400" class="bordered">
        <tr class="title">
            <th colspan="2" align="center">
                {t}Select Project{/t}
            </th>
        </tr>
        {if $err|default:0 != 0 || $smarty.get.err|default:0 != 0}
        <tr>
            <td colspan="2" align="center" class="error">
                <b>
                    {if $err == 1 || $smarty.get.err == 1}
                    {t}You are not allowed to use the selected project.{/t}
                    {/if}
                </b>
            </td>
        </tr>
        {/if}
        <tr>
            <th width="40%">{t}Project{/t}</th>
            <td width="60%">
                <select accessKey="p" name="project" tabindex="0">
                    {html_options options=$active_projects}
                </select>
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" name="Submit" value="{t}Continue{/t} &gt;&gt;">
                <label for="remember" accesskey="r">
                <input type="checkbox" id="remember" name="remember" value="1">{t}Remember Selection{/t}</label>
            </td>
        </tr>
    </table>
</form>

{/block}