{include file="header.tpl.html"}

<br />
<center>
  <span class="default">
  <b>{t}Thank you, your current selected project was changed successfully.{/t}</b>
  </span>
</center>

<script type="text/javascript">
<!--
{if $smarty.get.is_frame == "yes"}
var url = opener.parent.location.href;
{else}
var url = opener.location.href;
{/if}

var email_list_page = '/emails.php';
{literal}
if (url.indexOf(email_list_page + '?') != -1) {
    url = url.substring(0, url.indexOf(email_list_page + '?') + email_list_page.length);
}
{/literal}

var list_page = '/list.php';
{literal}
if (url.indexOf(list_page + '?') != -1) {
    url = url.substring(0, url.indexOf(list_page + '?') + list_page.length);
}
{/literal}

{* if current page is view.php or update.php, redirect to main *}
{literal}
if (url.indexOf('view.php' + '?') != -1 || url.indexOf('update.php' + '?') != -1) {
    url = 'main.php';
}
{/literal}

function refreshParent()
{ldelim}
    {if $smarty.get.is_frame == "yes"}
    opener.parent.location.href = url;
    {else}
    opener.location.href = url;
    {/if}
    window.close();
{rdelim}

{if $current_user_prefs.close_popup_windows == '1'}
setTimeout('refreshParent()', 2000);
{/if}
//-->
</script>
<br />
{if not $current_user_prefs.close_popup_windows}
<center>
  <span class="default"><a class="link" href="javascript:void(null);" onClick="refreshParent();">{t}Continue{/t}</a></span>
</center>
{/if}

{include file="footer.tpl.html"}
