{extends "base_full.tpl.html"}
{block page_classes}issue_update issue_view product CustomField{/block}
{block title}{t 1=$issue_id}Issue #%1 - Update{/t}{/block}

{block "javascripts" append}
  <script type="text/javascript" src="{$core.rel_url}ajax/dynamic_custom_field.js.php?iss_id={$issue_id}"></script>
  <script type="text/javascript" src="{asset path='js/dynamic_custom_field.js'}"></script>
{/block}

{block "content"}
{if $issue|default:'' != ''}
{include file="update_form.tpl.html"}
{/if}
{/block}
