{extends "base_full.tpl.html"}
{block page_id}issue_view{/block}
{block title}{t 1=$smarty.get.id|intval}Issue #%1 Details{/t}{/block}

{block "content"}
{if $issue|default:'' != ''}
  {include file="view_form.tpl.html"}

  {if $custom_fields|@count > 0}
  {include file="custom_fields.tpl.html"}
  {/if}

  {if $core.has_customer_integration and $issue.iss_customer_id}
  {include file="customer/$customer_backend_name/customer_info.tpl.html"}
  {/if}

  {include file="attachments.tpl.html"}
  {if $core.current_role > $core.roles.customer and $core.app_setup.scm_integration|default:'' == 'enabled'}
  {include file="checkins.tpl.html"}
  {/if}

  {if $core.current_role > $core.roles.customer}
  {include file="time_tracking.tpl.html"}
  {/if}

  {if $core.current_role > $core.roles.customer}
  {include file="notes.tpl.html"}
  {/if}

  {if $core.current_role > $core.roles.customer}
  {include file="phone_support.tpl.html"}
  {/if}

  {if $core.app_setup.support_email == 'enabled'}
    {if $core.current_role > $core.roles.customer}
      {include file="email_drafts.tpl.html"}
    {/if}
  {include file="support_emails.tpl.html"}
  {/if}
{/if}

{/block}