
<script type="text/javascript">
<!--
var ema_id = '{$ema_id}';
{* TODO:JS *}
{literal}
function openHistory(issue_id)
{
    var features = 'width=520,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('history.php?iss_id=' + issue_id, '_impact', features);
    popupWin.focus();
}
function openNotification(issue_id)
{
    var features = 'width=440,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('notification.php?iss_id=' + issue_id, '_notification', features);
    popupWin.focus();
}
function selfNotification(issue_id)
{
    var features = 'width=440,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('notification.php?iss_id=' + issue_id + '&cat=selfnotify', '_notification', features);
    popupWin.focus();
}
function openAuthorizedReplier(issue_id)
{
    var features = 'width=440,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('authorized_replier.php?iss_id=' + issue_id, '_replier', features);
    popupWin.focus();
}
function signupAsAuthorizedReplier(issue_id)
{
    var features = 'width=420,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('popup.php?cat=authorize_reply&iss_id=' + issue_id, '_authorizeReply', features);
    popupWin.focus();
}
function selfAssign(issue_id)
{
    var features = 'width=420,height=150,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('self_assign.php?iss_id=' + issue_id, '_selfAssign', features);
    popupWin.focus();
}
function unassign(issue_id)
{
    var features = 'width=420,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('popup.php?cat=unassign&iss_id=' + issue_id, '_unassign', features);
    popupWin.focus();
}
function replyIssue(issue_id)
{
    var features = 'width=740,height=580,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('send.php?cat=reply&ema_id=' + ema_id + '&issue_id=' + issue_id, '_replyIssue' + issue_id, features);
    popupWin.focus();
}
function clearDuplicateStatus(issue_id)
{
    var features = 'width=420,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('popup.php?cat=clear_duplicate&iss_id=' + issue_id, '_clearDuplicate', features);
    popupWin.focus();
}
function changeIssueStatus(f, issue_id, current_status_id)
{
    var new_status = getSelectedOption(f, 'new_status');
    if (new_status == current_status_id) {
        selectField(f, 'new_status');
        alert('{/literal}{t escape=js}Please select the new status for this issue.{/t}{literal}');
    } else {
        var features = 'width=420,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('popup.php?cat=new_status&iss_id=' + issue_id + '&new_sta_id=' + new_status, '_newStatus', features);
        popupWin.focus();
    }
}
function editIncidentRedemption(issue_id)
{
    var features = 'width=300,height=300,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('redeem_incident.php?iss_id=' + issue_id, '_flagIncident', features);
    popupWin.focus();
}
function removeQuarantine(issue_id)
{
    var features = 'width=420,height=400,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('popup.php?cat=remove_quarantine&iss_id=' + issue_id, '_removeQuarantine', features);
    popupWin.focus();
}
function validateForm(f)
{
    // if no emails accounts are setup, don't display confirmation message.
    if (({/literal}{$core.current_role} < {$core.roles.developer}{literal}) && (ema_id != '') &&
            !confirm("{/literal}{t escape=js}NOTE: If you need to send new information regarding this issue, please use the EMAIL related buttons available at the bottom of the screen.{/t}{literal}")) {
        return false;
    }
    return true;
}
function collapseDescription()
{
    if (isElementVisible(getPageElement('description1'))) {
        changeVisibility('description_hidden', false);
    } else {
        changeVisibility('description_hidden', true);
    }
}
//-->
</script>
{/literal}
<div id="issue_links">
  {if $previous_issue}
        <div><a title="{t}previous issue on your current active filter{/t}" href="view.php?id={$previous_issue}">&lt;&lt; {t}Previous Issue{/t}</a></div>
  {/if}
  {if $next_issue}
    <div class="right"><a title="{t}next issue on your current active filter{/t}" href="view.php?id={$next_issue}">{t}Next Issue{/t} &gt;&gt;</a></div>
  {/if}
  <div class="clear"></div>
</div>

{if $quarantine.iqu_status > 0}
<div class="note_box">
    {t}This Issue is Currently Quarantined{/t}
    {include file="customer/$customer_backend_name/quarantine.tpl.html"}<br />
    {if $core.current_role > $core.roles.customer && $quarantine.iqu_expiration != ''}
        {t 1=$quarantine.time_till_expiration}Quarantine expires in %1{/t}<br />
    {/if}
    {t 1="faq.php" escape=no}Please see the <a href="%1">FAQ</a> for information regarding quarantined issues.{/t}
    {if $core.current_role > $core.roles.developer}
    <br /><br />
    <input type="button" name="remove_quarantine" value="{t}Remove Quarantine{/t}" onClick="removeQuarantine({$issue.iss_id})">
    {/if}
</div>
{/if}

{if $project_auto_switched|default:0 == 1}
<div class="note_box">
    {t}Note: Project automatically switched to '{$core.project_name}' from '{$old_project}'.{/t}
</div>
{/if}

{if $issue.iss_private == 1}
<div class="note_box">
    {t}Note{/t}: {t}This issue is marked private. Only Managers, the reporter and users assigned to the issue can view it.{/t}
</div>
{/if}

<form method="get" action="update.php" name="view_form" onSubmit="return validateForm(this);">
<input type="hidden" name="id" value="{$issue.iss_id}">
<div id="issue_overview" class="bordered">
    <div class="title">
        {t}Issue Overview{/t}</b> (ID: <a href="{$core.rel_url}view.php?id={$issue.iss_id}" title="{t}view issue details{/t}">{$issue.iss_id}</a>)
        <div id="issue_menu">
            {if $core.current_role > $core.roles.customer}
            [ <a title="{t}edit the authorized repliers list for this issue{/t}" href="javascript:void(null);" onClick="openAuthorizedReplier({$smarty.get.id|intval});">{t}Edit Authorized Replier List{/t}</a> ]
            [ <a title="{t}edit the notification list for this issue{/t}" href="javascript:void(null);" onClick="openNotification({$smarty.get.id|intval});">{t}Edit Notification List{/t}</a> ]
            {/if}
            [ <a title="{t}view the full history of changes on this issue{/t}" href="javascript:void(null);" onClick="openHistory({$smarty.get.id|intval});">{t}History of Changes{/t}</a> ]
        </div>
    </div>

    <div id="column1" class="column">
        {if $core.has_customer_integration and $issue.iss_customer_id}
            <div class="issue_field_display">
                <div class="label">{t}Customer{/t}</div>
                <div class="display">{$issue.customer_info.customer_name}
                    (<a href="#customer_details">{t}Complete Details{/t}</a>)
                </div>
            </div>
        {/if}

        {if $show_category == 1}
        <div class="issue_field_display">
            <div class="label">{t}Category{/t}</div>
            <div class="display">{$issue.prc_title|escape:"html"}</div>
            <div class="clear"></div>
        </div>
        {/if}

        <div class="issue_field_display">
            <div class="label">{t}Status{/t}</div>
            <div class="display" style="background: {$issue.status_color}">{$issue.sta_title|escape:"html"}</div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Priority{/t}</div>
            <div class="display">{$issue.pri_title|escape:"html"}</div>
            <div class="clear"></div>
        </div>

        {if $core.current_role != $core.roles.customer && $show_releases == 1}
        <div class="issue_field_display">
            <div class="label">{t}Scheduled Release{/t}</div>
            <div class="display">{$issue.pre_title|escape:"html"}</div>
            <div class="clear"></div>
        </div>
        {/if}

        <div class="issue_field_display">
            <div class="label">{t}Resolution{/t}</div>
            <div class="display">{$issue.iss_resolution}</div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Percentage Complete{/t}</div>
            <div class="display">{$issue.iss_percent_complete|default:"0"}%</div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Reporter{/t}</div>
            <div class="display"><a href="list.php?reporter={$issue.iss_usr_id}&hide_closed=1">{$issue.reporter|escape:html}</a></div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Assignment{/t}</div>
            <div class="display">{$issue.assignments}</div>
            <div class="clear"></div>
        </div>

        {if $core.current_role > $core.roles.customer && $groups|@count > 0}
        <div class="issue_field_display">
            <div class="label">{t}Group{/t}</div>
            <div class="display">{$issue.group.grp_name}</div>
            <div class="clear"></div>
        </div>
        {/if}
    </div>

    <div id="column2" class="column">

        {if $core.has_customer_integration and $issue.iss_customer_id}
            <div class="issue_field_display">
                <div class="label">{t}Customer Contract{/t}</div>
                <div class="display">
                    {t}Support Level{/t}: {$issue.customer_info.support_level}
                    {if $issue.customer_info.support_options}
                    <br />
                    {t}Support Options{/t}: {$issue.customer_info.support_options}
                    {/if}
                    {if $issue.customer_info.is_per_incident}
                      <br />
                      {t}Redeemed Incident Types{/t}:
                      {strip}
                      {foreach from=$issue.redeemed_incidents item=incident_details name=incident_loop}
                        {if $incident_details.is_redeemed == 1}
                        {if not $smarty.foreach.incident_loop.first}, {/if}{$incident_details.title}
                        {assign var=has_redeemed_incident value=1}
                        {/if}
                      {/foreach}
                      {/strip}
                      {if $has_redeemed_incident != 1}<i>{t}None{/t}</i>{/if}
                    {/if}
                </div>
            </div>
        {/if}

        <div class="issue_field_display">
            <div class="label">{t}Notification List{/t}</div>
            <div class="display">
                {if $subscribers.staff != ''}{t}Staff{/t}: {$subscribers.staff|replace:"<":"&lt;"|replace:">":"&gt;"}{/if}
                {if $subscribers.staff != '' and $subscribers.customers != ''}<br />{/if}
                {if $subscribers.customers != ''}{t}Other{/t}: {$subscribers.customers|replace:"<":"&lt;"|replace:">":"&gt;"}{/if}
            </div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Submitted Date{/t}</div>
            <div class="display">{$issue.iss_created_date}</div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Last Updated Date{/t}</div>
            <div class="display">{$issue.iss_updated_date}</div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Associated Issues{/t}</div>
            <div class="display">
                {section name="i" loop=$issue.associated_issues_details}
                  {strip}
                  <a href="view.php?id={$issue.associated_issues_details[i].associated_issue}" title="{t}issue{/t} #{$issue.associated_issues_details[i].associated_issue} ({$issue.associated_issues_details[i].current_status}) - {$issue.associated_issues_details[i].associated_title|escape:"html"}" class="{if $issue.associated_issues_details[i].is_closed}closed_{/if}link">#{$issue.associated_issues_details[i].associated_issue}</a>
                  {if not $smarty.section.i.last},{/if}
                  {/strip}
                {sectionelse}
                  <i>{t}No issues associated{/t}</i>
                {/section}
            </div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Expected Resolution Date{/t}</div>
            <div class="display">
                {if $issue.iss_expected_resolution_date == 0}
                <em>{t}No resolution date given{/t}</em>
                {else}
                {$issue.iss_expected_resolution_date|escape:"html"}
                {/if}
            </div>
            <div class="clear"></div>
        </div>

        <div class="issue_field_display">
            <div class="label">{t}Estimated Dev. Time{/t}</div>
            <div class="display">
                {$issue.iss_dev_time}
                {if $issue.iss_dev_time != ''} {t}hours{/t}{/if}
            </div>
            <div class="clear"></div>
        </div>

        {if $core.current_role > $core.roles.customer}
        <div class="issue_field_display">
            <div class="label">{t}Duplicates{/t}</div>
            <div class="display">
                {if $issue.iss_duplicated_iss_id}
                {t}Duplicate of{/t}: <a href="{$core.rel_url}view.php?id={$issue.iss_duplicated_iss_id}" title="{t}issue{/t} #{$issue.iss_duplicated_iss_id} ({$issue.duplicated_issue.current_status|escape:"html"}) - {$issue.duplicated_issue.title|escape:"html"}" class="{if $issue.duplicated_issue.is_closed}closed{/if}">#{$issue.iss_duplicated_iss_id}</a>
                {/if}
                {if $issue.duplicates_details|@count > 0}
                  {if $issue.iss_duplicated_iss_id}<br />{/if}
                  {t}Duplicated by{/t}:
                  {section name="i" loop=$issue.duplicates_details}
                    {strip}
                    <a href="{$core.rel_url}view.php?id={$issue.duplicates_details[i].issue_id}" title="{t}issue{/t} #{$issue.duplicates_details[i].issue_id} ({$issue.duplicates_details[i].current_status|escape:"html"}) - {$issue.duplicates_details[i].title|escape:"html"}" class="{if $issue.duplicates_details[i].is_closed}closed{/if}">#{$issue.duplicates_details[i].issue_id}</a>
                    {if not $smarty.section.i.last}, {/if}
                    {/strip}
                  {/section}
                {/if}
            </div>
            <div class="clear"></div>
        </div>
        {/if}

        {if $core.current_role > $core.roles.customer}
        <div class="issue_field_display">
            <div class="label">{t}Authorized Repliers{/t}</div>
            <div class="display">
                {if $issue.authorized_repliers.users|@count > 0}
                    {t}Staff{/t}:
                    {section name="replier" loop=$issue.authorized_repliers.users}
                        {strip}
                        {$issue.authorized_repliers.users[replier].replier|replace:"<":"&lt;"|replace:">":"&gt;"}
                        {if $smarty.section.replier.last != 1},&nbsp;{/if}
                        {/strip}
                    {/section}
                    <br />
                {/if}
                {if $issue.authorized_repliers.other|@count > 0}
                    {t}Other{/t}:
                    {section name="replier" loop=$issue.authorized_repliers.other}
                        {strip}
                        {$issue.authorized_repliers.other[replier].replier|replace:"<":"&lt;"|replace:">":"&gt;"}
                        {if $smarty.section.replier.last != 1},&nbsp;{/if}
                        {/strip}
                    {/section}
                {/if}
            </div>
        </div>
        {/if}
    </div>
    <div class="clear"></div>

    <div id="summary" class="issue_field_display">
        <div class="label">Summary</div>
        <div class="display">{$issue.iss_summary|escape:"html"}</div>
        <div class="clear"></div>
    </div>

    <div id="description" class="issue_field_display">
        <div class="label">
            {t}Initial Description{/t}
            <div>
                [ <a id="description_link" href="javascript:void(null);" onClick="toggleVisibility('description');collapseDescription();">{get_display_label element_name="description"}</a> ]
                [ <a href="javascript:void(null);" onClick="displayFixedWidth('issue_description');">{t}fixed width{/t}</a> ]
            </div>
        </div>
        <div class="display">
            <span id="description1" {get_display_style element_name="description"}>{$issue.iss_description|activateLinks:"link"|activateAttachmentLinks:$issue.iss_id}</span>
            <span id="description_hidden" style="display: none"><i>{t}Description is currently collapsed{/t}. <a href="javascript:void(null);" onClick="toggleVisibility('description');collapseDescription();">{t}Click to expand.{/t}</a></i></span>
            {literal}
            <script type="text/javascript">
            collapseDescription();
            </script>
            {/literal}
        </div>
        <div class="clear"></div>
    </div>

    {if $core.current_role > $core.roles.reporter}
    <div class="buttons1">
        <input type="submit" value="{t}Update Issue{/t}">
        {if $core.current_role >= $core.roles.standard_user and $core.app_setup.support_email == 'enabled' and $ema_id != ''}
        &nbsp;<input type="button" value="{t}Reply{/t}" onClick="replyIssue({$issue.iss_id});">
        {/if}

        {if $core.current_role > $core.roles.customer}
          {if $is_user_assigned == 1}
            {if $allow_unassigned_issues == 'yes' || $issue.assigned_users|@count > 1}
              <input type="button" value="{t}Unassign Issue{/t}" onClick="unassign({$issue.iss_id});">&nbsp;
            {/if}
          {else}
            <input type="button" value="{t}Assign Issue To Myself{/t}" onClick="selfAssign({$issue.iss_id});">&nbsp;
          {/if}

          <div class="right">
          {if not $issue.sta_is_closed}
            {if $issue.duplicates == ''}
              {if $issue.iss_duplicated_iss_id}
              <input type="button" value="{t}Clear Duplicate Status{/t}" onClick="clearDuplicateStatus({$issue.iss_id});">
              {else}
              <input type="button" value="{t}Mark as Duplicate{/t}" onClick="window.location.href='duplicate.php?id={$issue.iss_id}';">
              {/if}
            {/if}
            <input type="button" value="{t}Close Issue{/t}" onClick="window.location.href='close.php?id={$issue.iss_id}';">
          {/if}
          </div>
        {/if}
    </div>
    {/if}
    {if $core.current_role > $core.roles.customer}
    <div class="buttons2">
      {if $is_user_authorized != 1}
        <input type="button" value="{t}Signup as Authorized Replier{/t}" onClick="signupAsAuthorizedReplier({$issue.iss_id});">
      {/if}
      {if $is_user_notified != 1}
        <input type="button" value="{t}Add Me To Notification{/t}" onClick="selfNotification({$issue.iss_id});">
      {/if}
      {if $core.has_customer_integration && $issue.customer_info.is_per_incident}
        <input type="button" value="{t}Edit Incident Redemption{/t}" onClick="editIncidentRedemption({$issue.iss_id});">
      {/if}
      <div class="right">
          {if $statuses != ''}
          <input type="button" value="{t}Change Status To{/t} &gt;" onClick="changeIssueStatus(this.form, '{$issue.iss_id}', '{$issue.iss_sta_id}');">
          <select name="new_status">
            {html_options options=$statuses selected=$issue.iss_sta_id}
          </select>
          {/if}
      </div>
    </div>
    {/if}
</div>
</form>