{extends "base.tpl.html"}

{block "content"}
<table class="bordered">
    <tr class="title">
        <th>
            {t}View Email Raw Headers{/t}
        </th>
    </tr>
    <tr class="buttons">
        <td>
            <input type="button" value="{t}Close{/t}" onClick="window.close();">
        </td>
    </tr>
    <tr>
        <td>
            {$headers|escape:"html"|replace:"\t":"&nbsp;&nbsp;"|nl2br}
        </td>
    </tr>
    <tr class="buttons">
        <td>
            <input type="button" value="{t}Close{/t}" onClick="window.close();">
        </td>
    </tr>
</table>
{/block}