
      <table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              {literal}
              <script type="text/javascript">
              <!--
              function validateForm(f)
              {
                  if (isWhitespace(f.title.value)) {
                      alert('{/literal}{t escape=js}Please enter the title of this category{/t}{literal}');
                      selectField(f, 'title');
                      return false;
                  }
                  return true;
              }
              //-->
              </script>
              {/literal}
              <form name="category_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
              <input type="hidden" name="prj_id" value="{$project.prj_id}">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id|intval}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
              <tr>
                <td nowrap>
                  <b>{t}Manage Categories{/t}</b>
                </td>
                <td align="right">
                  ({t}Current Project{/t}: {$project.prj_title})
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      {t}An error occurred while trying to add the new category.{/t}
                    {elseif $result == -2}
                      {t}Please enter the title for this new category.{/t}
                    {elseif $result == 1}
                      {t}Thank you, the category was added successfully.{/t}
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      {t}An error occurred while trying to update the category information.{/t}
                    {elseif $result == -2}
                      {t}Please enter the title for this category.{/t}
                    {elseif $result == 1}
                      {t}Thank you, the category was updated successfully.{/t}
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120">
                  <b>{t}Title{/t}: *</b>
                </td>
                <td>
                  <input type="text" name="title" size="40" value="{$info.prc_title}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input type="submit" value="{t}Update Category{/t}">
                  {else}
                  <input type="submit" value="{t}Create Category{/t}">
                  {/if}
                  <input type="reset" value="{t}Reset{/t}">
                </td>
              </tr>
              </form>
              <tr>
                <td colspan="2">
                  <b>{t}Existing Categories:{/t}</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  {literal}
                  <script type="text/javascript">
                  <!--
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('{/literal}{t escape=js}Please select at least one of the categories.{/t}{literal}');
                          return false;
                      }
                      if (!confirm('{/literal}{t escape=js}This action will remove the selected entries.{/t}{literal}')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <form onSubmit="return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="prj_id" value="{$project.prj_id}">
                    <input type="hidden" name="cat" value="delete">
                    <tr>
                      <td width="4" nowrap><input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');"></td>
                      <td width="100%">&nbsp;<b>{t}Title{/t}</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap align="center"><input type="checkbox" name="items[]" value="{$list[i].prc_id}"></td>
                      <td width="100%">
                        &nbsp;<a href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].prc_id}&prj_id={$project.prj_id}" title="{t}update this entry{/t}">{$list[i].prc_title}</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="2" align="center">
                        <i>{t}No categories could be found.{/t}</i>
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="4" align="center">
                        <input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td align="center">
                        <input type="submit" value="{t}Delete{/t}">
                      </td>
                    </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

