{extends "manage/manage.tpl.html"}

{block "manage_content"}
{if $prj_id == ''}
<span>
    {t}This page can only be accessed in relation to a project. Please go to the project page and choose{/t}&nbsp;"{t}Edit Fields to Display{/t}"&nbsp;{t}to access this page.{/t}<br />
    <a href="{$core.rel_url}manage/projects.php">{t}Manage Projects{/t}</a>
    </span>
{else}
<form name="display_form" method="post" action="{$smarty.server.PHP_SELF}?prj_id={$prj_id}">
    <table class="bordered grid">
        <tr class="title">
            <th colspan="2">
                {t}Edit Fields to Display{/t} {include file="help_link.tpl.html" topic="field_display"}
            </th>
        </tr>
        {foreach from=$fields item=field_title key=field_name}
        <tr class="{cycle values='odd,even'}">
            <th width="150">
                {t 1=$field_title}%1 Field{/t}:
            </th>
            <td>
                <select name="min_role[{$field_name}]">
                    {html_options options=$user_roles selected=$display_settings[$field_name]}
                </select>
            </td>
        </tr>
        {/foreach}
        <tr class="buttons">
            <td colspan="2">
                <input type="submit" value="{t}Set Display Preferences{/t}">
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
    </table>
</form>
{/if}
{/block}