{extends "manage/manage.tpl.html"}

{block "manage_content"}
  {literal}
  <script type="text/javascript">
  <!--
  function validateForm(f)
  {
      var field = getFormElement(f, 'smtp[from]');
      if (isWhitespace(field.value)) {
          alert('{/literal}{t escape=js}Please enter the sender address that will be used for all outgoing notification emails.{/t}{literal}');
          selectField(f, 'smtp[from]');
          return false;
      }
      field = getFormElement(f, 'smtp[host]');
      if (isWhitespace(field.value)) {
          alert('{/literal}{t escape=js}Please enter the SMTP server hostname.{/t}{literal}');
          selectField(f, 'smtp[host]');
          return false;
      }
      field = getFormElement(f, 'smtp[port]');
      if ((isWhitespace(field.value)) || (!isNumberOnly(field.value))) {
          alert('{/literal}{t escape=js}Please enter the SMTP server port number.{/t}{literal}');
          selectField(f, 'smtp[port]');
          return false;
      }
      var field1 = getFormElement(f, 'smtp[auth]', 0);
      var field2 = getFormElement(f, 'smtp[auth]', 1);
      if ((!field1.checked) && (!field2.checked)) {
          alert('{/literal}{t escape=js}Please indicate whether the SMTP server requires authentication or not.{/t}{literal}');
          return false;
      }
      if (field1.checked) {
          field = getFormElement(f, 'smtp[username]');
          if (isWhitespace(field.value)) {
              alert('{/literal}{t escape=js}Please enter the SMTP server username.{/t}{literal}');
              selectField(f, 'smtp[username]');
              return false;
          }
          field = getFormElement(f, 'smtp[password]');
          if (isWhitespace(field.value)) {
              alert('{/literal}{t escape=js}Please enter the SMTP server password.{/t}{literal}');
              selectField(f, 'smtp[password]');
              return false;
          }
      }
      var field1 = getFormElement(f, 'smtp[save_outgoing_email]', 0);
      var field2 = getFormElement(f, 'smtp[save_address]');
      if ((field1.checked) && (!isEmail(field2.value))) {
          alert('{/literal}{t escape=js}Please enter the email address of where copies of outgoing emails should be sent to.{/t}{literal}');
          selectField(f, 'smtp[save_address]');
          return false;
      }
      if ((!f.open_signup[0].checked) && (!f.open_signup[1].checked))  {
          alert('{/literal}{t escape=js}Please choose whether the system should allow visitors to signup for new accounts or not.{/t}{literal}');
          return false;
      }
      if (f.open_signup[0].checked) {
          field = getFormElement(f, 'accounts_projects[]');
          if (!hasOneSelected(f, 'accounts_projects[]')) {
              alert('{/literal}{t escape=js}Please select the assigned projects for users that create their own accounts.{/t}{literal}');
              selectField(f, 'accounts_projects[]');
              return false;
          }
      }
      field1 = getFormElement(f, 'email_routing[status]', 0);
      if (field1.checked) {
          field1 = getFormElement(f, 'email_routing[address_prefix]');
          if (isWhitespace(field1.value)) {
              alert('{/literal}{t escape=js}Please enter the email address prefix for the email routing interface.{/t}{literal}');
              selectField(f, 'email_routing[address_prefix]');
              return false;
          }
          field1 = getFormElement(f, 'email_routing[address_host]');
          if (isWhitespace(field1.value)) {
              alert('{/literal}{t escape=js}Please enter the email address hostname for the email routing interface.{/t}{literal}');
              selectField(f, 'email_routing[address_host]');
              return false;
          }
      }
      if ((!f.support_email[0].checked) && (!f.support_email[1].checked))  {
          alert('{/literal}{t escape=js}Please choose whether the email integration feature should be enabled or not.{/t}{literal}');
          return false;
      }
      if ((!f.daily_tips[0].checked) && (!f.daily_tips[1].checked))  {
          alert('{/literal}{t escape=js}Please choose whether the daily tips feature should be enabled or not.{/t}{literal}');
          return false;
      }
      return true;
  }
  function disableAuthFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'smtp[username]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'smtp[password]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function checkDebugField(f)
  {
      var field = getFormElement(f, 'smtp[save_outgoing_email]');
      if (field.checked) {
          var bool = false;
      } else {
          var bool = true;
      }
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      field = getFormElement(f, 'smtp[save_address]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function disableSignupFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'accounts_projects[]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'accounts_role');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function disableEmailRoutingFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }

      var field = getFormElement(f, 'email_routing[address_prefix]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'email_routing[address_host]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'email_routing[host_alias]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'email_routing[warning][status]', 0);
      field.disabled = bool;
      field = getFormElement(f, 'email_routing[warning][status]', 1);
      field.disabled = bool;
  }
  function disableNoteRoutingFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'note_routing[address_prefix]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'note_routing[address_host]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function disableDraftRoutingFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'draft_routing[address_prefix]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
      field = getFormElement(f, 'draft_routing[address_host]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function disableErrorEmailFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'email_error[addresses]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function disableReminderEmailFields(f, bool)
  {
      if (bool) {
          var bgcolor = '#CCCCCC';
      } else {
          var bgcolor = '#FFFFFF';
      }
      var field = getFormElement(f, 'email_reminder[addresses]');
      field.disabled = bool;
      field.style.backgroundColor = bgcolor;
  }
  function toggleSubjectBasedRouting(f, enabled)
  {

      var email_routing_enabled = getFormElement(f, 'email_routing[status]', 0);
      email_routing_enabled.disabled = enabled;
      if ((enabled != true) && (email_routing_enabled.checked != true)) {
          disableEmailRoutingFields(f, true);
      } else {
          disableEmailRoutingFields(f, enabled);
      }
      getFormElement(f, 'email_routing[status]', 1).disabled = enabled;

      var note_routing_enabled = getFormElement(f, 'note_routing[status]', 0);
      note_routing_enabled.disabled = enabled;
      if ((enabled != true) && (note_routing_enabled.checked != true)) {
          disableNoteRoutingFields(f, true);
      } else {
          disableNoteRoutingFields(f, enabled);
      }
      getFormElement(f, 'note_routing[status]', 1).disabled = enabled;
  }

      window.onload = setDisabledFields;
      function setDisabledFields()
      {
          var f = getForm('general_setup_form');
          var field1 = getFormElement(f, 'smtp[auth]', 0);
          if (field1.checked) {
              disableAuthFields(f, false);
          } else {
              disableAuthFields(f, true);
          }
          checkDebugField(f);
          if (f.open_signup[0].checked) {
              disableSignupFields(f, false);
          } else {
              f.open_signup[1].checked = true;
              disableSignupFields(f, true);
          }
          field1 = getFormElement(f, 'email_routing[status]', 0);
          var field2 = getFormElement(f, 'email_routing[status]', 1);
          if (field1.checked) {
              disableEmailRoutingFields(f, false);
          } else {
              field2.checked = true;
              disableEmailRoutingFields(f, true);
          }
          field1 = getFormElement(f, 'note_routing[status]', 0);
          field2 = getFormElement(f, 'note_routing[status]', 1);
          if (field1.checked) {
              disableNoteRoutingFields(f, false);
          } else {
              field2.checked = true;
              disableNoteRoutingFields(f, true);
          }
          field1 = getFormElement(f, 'draft_routing[status]', 0);
          field2 = getFormElement(f, 'draft_routing[status]', 1);
          if (field1.checked) {
              disableDraftRoutingFields(f, false);
          } else {
              field2.checked = true;
              disableDraftRoutingFields(f, true);
          }
          field1 = getFormElement(f, 'email_reminder[status]', 0);
          field2 = getFormElement(f, 'email_reminder[status]', 1);
          if (field1.checked) {
              disableReminderEmailFields(f, false);
          } else {
              field2.checked = true;
              disableReminderEmailFields(f, true);
          }
          field1 = getFormElement(f, 'email_error[status]', 0);
          field2 = getFormElement(f, 'email_error[status]', 1);
          if (field1.checked) {
              disableErrorEmailFields(f, false);
          } else {
              field2.checked = true;
              disableErrorEmailFields(f, true);
          }
          toggleSubjectBasedRouting(f, getFormElement(f, 'subject_based_routing[status]', 0).checked);
      }
  //-->
  </script>
  {/literal}
  <form name="general_setup_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
  <input type="hidden" name="cat" value="update">
        <table class="bordered">
          <tr class="title">
            <th colspan="2">
              {t}General Setup{/t}
            </th>
          </tr>
          <tr>
            <th width="120">
              {t}Tool Caption:{/t}
            </th>
            <td>
              <input type="text" name="tool_caption" size="50" value="{$setup.tool_caption|default:''|escape:"html"}">
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}SMTP (Outgoing Email) Settings{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td width="100" align="right">
                    {t}Sender Email{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="smtp[from]" size="30" value="{$setup.smtp.from|default:''|escape:"html"}">
                    {include file="error_icon.tpl.html" field="smtp[from]"}
                    <span>{t 1="eventum@example.com" 2="Eventum <eventum@example.com>"}(This MUST contain a real email address, e.g. "%1" or "%2"){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Hostname{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="smtp[host]" size="30" value="{$setup.smtp.host|default:''|escape:"html"}">
                    {include file="error_icon.tpl.html" field="smtp[host]"}
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Port{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="smtp[port]" size="5" value="{$setup.smtp.port|default:''}">
                    {include file="error_icon.tpl.html" field="smtp[port]"}
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Requires Authentication?{/t}
                  </td>
                  <td width="80%">
                    <label>
                        <input type="radio" name="smtp[auth]" value="1" {if $setup.smtp.auth|default:''}checked{/if} onClick="disableAuthFields(this.form, false);">
                        {t}Yes{/t}
                    </label>
                    <label>
                        <input type="radio" name="smtp[auth]" value="0" {if not $setup.smtp.auth|default:''}checked{/if} onClick="disableAuthFields(this.form, true);">
                        {t}No{/t}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Username{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="smtp[username]" size="20" value="{$setup.smtp.username|default:''|escape:"html"}">
                    {include file="error_icon.tpl.html" field="smtp[username]"}
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Password{/t}
                  </td>
                  <td width="80%">
                    <input type="password" name="smtp[password]" size="20" value="{$setup.smtp.password|default:''|escape:"html"}" autocomplete="off">
                    {include file="error_icon.tpl.html" field="smtp[password]"}
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <label>
                        <input type="checkbox" name="smtp[save_outgoing_email]" value="yes" {if $setup.smtp.save_outgoing_email|default:'' == 'yes'}checked{/if} onClick="checkDebugField(this.form);">
                        {t}Save a Copy of Every Outgoing Issue Notification Email{/t}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Email Address to Send Saved Messages{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="smtp[save_address]" size="30" value="{$setup.smtp.save_address|default:''}">
                    {include file="error_icon.tpl.html" field="smtp[save_address]"}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Open Account Signup{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="open_signup" value="enabled" {if $setup.open_signup|default:'' == 'enabled'}checked{/if} onClick="disableSignupFields(this.form, false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="open_signup" value="disabled" {if not $setup.open_signup|default:'' == 'enabled'}checked{/if} onClick="disableSignupFields(this.form, true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Assigned Projects{/t}
                  </td>
                  <td width="80%">
                    <select name="accounts_projects[]" multiple size="3">
                    {html_options options=$project_list selected=$setup.accounts_projects|default:''}
                    </select>
                    {include file="error_icon.tpl.html" field="accounts_projects[]"}
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Assigned Role{/t}
                  </td>
                  <td width="80%">
                    <select name="accounts_role">
                    {html_options options=$user_roles selected=$setup.accounts_role|default:''}
                    </select>
                    {include file="error_icon.tpl.html" field="accounts_role"}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Subject Based Routing{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td>
                    <label>
                        <input id="subject_based_routing_enabled" type="radio" name="subject_based_routing[status]" value="enabled"
                        {if $setup.subject_based_routing.status|default:'' == 'enabled'}checked{/if} onChange="toggleSubjectBasedRouting(this.form, true);">
                        {t}Enabled{/t}
                    </label>
                    <label>
                        <input id="subject_based_routing_disabled" type="radio" name="subject_based_routing[status]" value="disabled"
                        {if $setup.subject_based_routing.status|default:'' != 'enabled'}checked{/if} onClick="toggleSubjectBasedRouting(this.form, false);">
                        {t}Disabled{/t}
                    </label>
                    <div>{t}If enabled, Eventum will look in the subject line of incoming notes/emails to determine which issue they should be associated with.{/t}</div>
                  </td>
                </tr>
              </td>
            </table>
          </tr>
          <tr>
            <th width="120">
              {t}Email Recipient Type Flag{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td width="100" align="right">
                    {t}Recipient Type Flag{/t}
                  </td>
                  <td>
                    <input type="text" name="email_routing[recipient_type_flag]" value="{$setup.email_routing.recipient_type_flag|default:''|escape:"html"}">
                    <span>{t}(This will be included in the From address of all emails sent by Eventum){/t}</span>
                    <div>
                    <label>
                        <input type="radio" name="email_routing[flag_location]" value="before"
                            {if $setup.email_routing.flag_location|default:'' == 'before'}checked{/if}>
                        {t}Before Sender Name{/t}
                    </label>
                    <label>
                        <input type="radio" name="email_routing[flag_location]" value="after"
                            {if $setup.email_routing.flag_location|default:'' != 'before'}checked{/if}>
                        {t}After Sender Name{/t}
                    </label>
                    </div>
                  </td>
                </tr>
              </td>
            </table>
          </tr>
          <tr>
            <th width="120">
              {t}Email Routing Interface{/t}
            </th>
            <td>
              <table width="100%">
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="email_routing[status]" value="enabled"
                          {if $setup.email_routing.status|default:'' == 'enabled'}checked{/if} onClick="disableEmailRoutingFields(this.form, false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="email_routing[status]" value="disabled"
                          {if $setup.email_routing.status|default:'' != 'enabled'}checked{/if} onClick="disableEmailRoutingFields(this.form, true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Email Address Prefix{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="email_routing[address_prefix]" value="{if $setup.email_routing.address_prefix|default:''}{$setup.email_routing.address_prefix}{else}issue-{/if}">
                    {include file="error_icon.tpl.html" field="email_routing[address_prefix]"}
                    <span>{t escape=no 1="<strong>issue-42</strong>@example.com"}(e.g. %1){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Address Hostname{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="email_routing[address_host]" value="{$setup.email_routing.address_host|default:''}">
                    {include file="error_icon.tpl.html" field="email_routing[address_host]"}
                    <span>{t escape=no 1="issue-51@<strong>example.com</strong>"}(e.g. %1){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Host Alias{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="email_routing[host_alias]" value="{$setup.email_routing.host_alias|default:''}">
                    {include file="error_icon.tpl.html" field="email_routing[host_alias]"}
                    <span>{t}(Alternate domains that point to 'Address Hostname'){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Warn Users Whether They Can Send Emails to Issue{/t}
                  </td>
                  <td width="80%">
                    <label>
                        <input type="radio" name="email_routing[warning][status]" value="enabled"
                            {if $setup.email_routing.warning.status|default:'' == 'enabled'}checked{/if}>
                        {t}Yes{/t}
                    </label>
                    <label>
                        <input type="radio" name="email_routing[warning][status]" value="disabled"
                            {if $setup.email_routing.warning.status|default:'' != 'enabled'}checked{/if}>
                        {t}No{/t}
                    </label>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Note Recipient Type Flag{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td width="100" align="right">
                    {t}Recipient Type Flag{/t}
                  </td>
                  <td>
                    <input type="text" name="note_routing[recipient_type_flag]" value="{$setup.note_routing.recipient_type_flag|default:''|escape:"html"}">
                    <span>{t}(This will be included in the From address of all notes sent by Eventum){/t}</span><br />
                    <div>
                        <label>
                            <input type="radio" name="note_routing[flag_location]" value="before"
                            {if $setup.note_routing.flag_location|default:'' == 'before'}checked{/if}>
                            {t}Before Sender Name{/t}
                        </label>
                        <label>
                            <input type="radio" name="note_routing[flag_location]" value="after"
                            {if $setup.note_routing.flag_location|default:'' != 'before'}checked{/if}>
                            {t}After Sender Name{/t}
                        </label>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Internal Note Routing Interface{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="note_routing[status]" value="enabled"
                          {if $setup.note_routing.status|default:'' == 'enabled'}checked{/if} onClick="disableNoteRoutingFields(this.form, false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="note_routing[status]" value="disabled"
                          {if $setup.note_routing.status|default:'' != 'enabled'}checked{/if} onClick="disableNoteRoutingFields(this.form, true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Note Address Prefix{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="note_routing[address_prefix]" value="{if $setup.note_routing.address_prefix|default:''}{$setup.note_routing.address_prefix}{else}note-{/if}">
                    {include file="error_icon.tpl.html" field="note_routing[address_prefix]"}
                    <span>{t escape=no 1="<strong>note-51</strong>@example.com"}(e.g. %1){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Address Hostname{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="note_routing[address_host]" value="{$setup.note_routing.address_host|default:''}">
                    {include file="error_icon.tpl.html" field="note_routing[address_host]"}
                    <span>{t escape=no 1="note-51@<strong>example.com</strong>"}(e.g. %1){/t}</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Email Draft Interface{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="draft_routing[status]" value="enabled"
                          {if $setup.draft_routing.status|default:'' == 'enabled'}checked{/if} onClick="disableDraftRoutingFields(this.form, false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="draft_routing[status]" value="disabled"
                          {if $setup.draft_routing.status|default:'' != 'enabled'}checked{/if} onClick="disableDraftRoutingFields(this.form, true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Draft Address Prefix{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="draft_routing[address_prefix]" value="{if $setup.draft_routing.address_prefix|default:''}{$setup.draft_routing.address_prefix}{else}draft-{/if}">
                    {include file="error_icon.tpl.html" field="draft_routing[address_prefix]"}
                    <span>{t escape=no 1="<strong>draft-51</strong>@example.com"}(e.g. %1){/t}</span>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Address Hostname{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="draft_routing[address_host]" value="{$setup.draft_routing.address_host|default:''}">
                    {include file="error_icon.tpl.html" field="draft_routing[address_host]"}
                    <span>{t escape=no 1="draft-51@<strong>example.com</strong>"}(e.g. %1){/t}</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Email Integration Feature{/t}
            </th>
            <td>
              <label>
                <input type="radio" name="support_email" value="enabled" {if $setup.support_email|default:'' == 'enabled'}checked{/if}>
                {t}Enabled{/t}
              </label>
              <label>
                <input type="radio" name="support_email" value="disabled" {if $setup.support_email|default:'' != 'enabled'}checked{/if}>
                {t}Disabled{/t}
              </label>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Daily Tips{/t}
            </th>
            <td>
              <label>
                <input type="radio" name="daily_tips" value="enabled" {if $setup.daily_tips|default:'' == 'enabled'}checked{/if}>
                {t}Enabled{/t}
              </label>
              <label>
                <input type="radio" name="daily_tips" value="disabled" {if $setup.daily_tips|default:'' != 'enabled'}checked{/if}>
                {t}Disabled{/t}
              </label>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Email Spell Checker{/t}
            </th>
            <td>
                <label>
                    <input type="radio" name="spell_checker" value="enabled" {if $setup.spell_checker|default:'' == 'enabled'}checked{/if}>
                    {t}Enabled{/t}
                </label>
                <label>
                    <input type="radio" name="spell_checker" value="disabled" {if $setup.spell_checker|default:'' != 'enabled'}checked{/if}>
                    {t}Disabled{/t}
                </label>

              <span>{t escape=no 1='<a target="_blank" href="http://aspell.sourceforge.net/">aspell</a>'}(requires %1 installed in your server){/t}</span>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}IRC Notifications{/t}
            </th>
            <td>
                <label>
                    <input type="radio" name="irc_notification" value="enabled" {if $setup.irc_notification|default:'' == 'enabled'}checked{/if}>
                    {t}Enabled{/t}
                </label>
                <label>
                    <input type="radio" name="irc_notification" value="disabled" {if $setup.irc_notification|default:'' != 'enabled'}checked{/if}>
                    {t}Disabled{/t}
                </label>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Allow Un-Assigned Issues?{/t}
            </th>
            <td>
                <label>
                    <input type="radio" name="allow_unassigned_issues" value="yes" {if $setup.allow_unassigned_issues|default:'' == 'yes'}checked{/if}>
                    {t}Yes{/t}
                </label>
                <label>
                    <input type="radio" name="allow_unassigned_issues" value="no" {if $setup.allow_unassigned_issues|default:'' != 'yes'}checked{/if}>
                    {t}No{/t}
                </label>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Default Options for Notifications{/t}
            </th>
            <td>
              <label><input type="checkbox" name="update" {if $setup.update|default:''}checked{/if} value="1"> {t}Issues are Updated{/t}</label><br />
              <label><input type="checkbox" name="closed" {if $setup.closed|default:''}checked{/if} value="1"> {t}Issues are Closed{/t}</label><br />
              <label><input type="checkbox" name="emails" {if $setup.emails|default:''}checked{/if} value="1"> {t}Emails are Associated{/t}</label><br />
              <label><input type="checkbox" name="files" {if $setup.files|default:''}checked{/if} value="1"> {t}Files are Attached{/t}</label>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Email Reminder System Status Information{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="email_reminder[status]" value="enabled"
                          {if $setup.email_reminder.status|default:'' == 'enabled'}checked{/if} onClick="disableReminderEmailFields(getForm('general_setup_form'), false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="email_reminder[status]" value="disabled"
                          {if $setup.email_reminder.status|default:'' != 'enabled'}checked{/if} onClick="disableReminderEmailFields(getForm('general_setup_form'), true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Email Addresses To Send Information To{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="email_reminder[addresses]" value="{$setup.email_reminder.addresses|default:''|escape:"html"}" size="50">
                    <span>{t}(separate multiple addresses with commas){/t}</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th width="120">
              {t}Email Error Logging System{/t}
            </th>
            <td>
              <table>
                <tr>
                  <td colspan="2">
                      <label>
                        <input type="radio" name="email_error[status]" value="enabled"
                            {if $setup.email_error.status|default:'' == 'enabled'}checked{/if} onClick="disableErrorEmailFields(getForm('general_setup_form'), false);">
                        {t}Enabled{/t}
                      </label>
                      <label>
                        <input type="radio" name="email_error[status]" value="disabled"
                            {if $setup.email_error.status|default:'' != 'enabled'}checked{/if} onClick="disableErrorEmailFields(getForm('general_setup_form'), true);">
                        {t}Disabled{/t}
                      </label>
                  </td>
                </tr>
                <tr>
                  <td width="100" align="right">
                    {t}Email Addresses To Send Errors To{/t}
                  </td>
                  <td width="80%">
                    <input type="text" name="email_error[addresses]" value="{$setup.email_error.addresses|default:''|escape:"html"}" size="50">
                    <span>{t}(separate multiple addresses with commas){/t}</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="buttons">
            <td colspan="2">
              <input type="submit" value="{t}Update Setup{/t}">
              <input type="reset" value="{t}Reset{/t}">
            </td>
          </tr>
        </table>
  </form>
{/block}