{extends "manage/manage.tpl.html"}

{block "manage_content"}
{if $core.auth_backend == 'ldap_auth_backend'}
{literal}
<script type="text/javascript">
    <!--
    function validateForm()
    {
        if (Validation.isFieldWhitespace('host')) {
            alert('{/literal}{t escape=js}Please enter the LDAP Host.{/t}{literal}');
            Validation.selectField('host');
            return false;
        }
        var field = Eventum.getField('port');
        if (Validation.isWhitespace(field.val()) || (!Validation.isNumberOnly(field.val()))) {
            alert('{/literal}{t escape=js}Please enter the LDAP port.{/t}{literal}');
            Validation.selectField('port');
            return false;
        }
        if (Validation.isFieldWhitespace('basedn')) {
            alert('{/literal}{t escape=js}Please enter the base dn.{/t}{literal}');
            Validation.selectField('basedn');
            return false;
        }
        if (Validation.isFieldWhitespace('userdn')) {
            alert('{/literal}{t escape=js}Please enter the user dn.{/t}{literal}');
            Validation.selectField('userdn');
            return false;
        }
        return true;
    }

    $().ready(function() {
        $('#ldap_form').submit(validateForm);
    })

    //-->
</script>
{/literal}
<form id="ldap_form" method="post" action="{$smarty.server.PHP_SELF}">
    <input type="hidden" name="cat" value="update">
    <table class="bordered">
        <tr class="title">
            <th colspan="2">
                {t}LDAP Setup{/t}
            </th>
        </tr>
        <tr>
            <th width="120">
                {t}Host:{/t}
            </th>
            <td>
                <input type="text" name="host" size="50" value="{$setup.host|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="host"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Port:{/t}
            </th>
            <td>
                <input type="text" name="port" size="5" value="{$setup.port|escape:"html"|default:''}">
                <span class="small_default">(default: 389)</span>
                {include file="error_icon.tpl.html" field="port"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Bind DN:{/t}
            </th>
            <td>
                <input type="text" name="binddn" size="50" value="{$setup.binddn|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="binddn"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Bind PW:{/t}
            </th>
            <td>
                <input type="text" name="bindpw" size="50" value="{$setup.bindpw|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="bindpw"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Base DN:{/t}
            </th>
            <td>
                <input type="text" name="basedn" size="50" value="{$setup.basedn|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="basedn"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}User DN:{/t}
            </th>
            <td>
                <input type="text" name="userdn" size="50" value="{$setup.userdn|escape:"html"|default:''}">
                <span>Use %UID% to specify where the UID should be substituted.</span>
                {include file="error_icon.tpl.html" field="userdn"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}User Filter:{/t}
            </th>
            <td>
                <input type="text" name="user_filter" size="50" value="{$setup.user_filter|escape:"html"|default:''}">
                <span>Optional filter when binding the user</span>
                {include file="error_icon.tpl.html" field="user_filter"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Customer ID attribute:{/t}
            </th>
            <td>
                <input type="text" name="customer_id_attribute" size="50" value="{$setup.customer_id_attribute|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="customer_id_attribute"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Contact ID attribute:{/t}
            </th>
            <td>
                <input type="text" name="contact_id_attribute" size="50" value="{$setup.contact_id_attribute|escape:"html"|default:''}">
                {include file="error_icon.tpl.html" field="contact_id_attribute"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Create Users:{/t}
            </th>
            <td>
                <label><input type="radio" name="create_users" value="1" {if $setup.create_users == 1}checked{/if} />Yes</label>
                <label><input type="radio" name="create_users" value="0" {if $setup.create_users != 1}checked{/if} />No</label>
                {include file="error_icon.tpl.html" field="create_users"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Default Roles:{/t}
            </th>
            <td>
                <table border="0">
                    {foreach from=$project_list key=prj_id item=prj_name}
                    <tr>
                        <td>{$prj_name}:</td>
                        <td>
                            <select name="default_role[{$prj_id}]">
                                {html_options options=$project_roles selected=$setup.default_role.$prj_id}
                            </select>
                            {include file="error_icon.tpl.html" field="default_role[$prj_id]"}
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                <input class="button" type="submit" value="{t}Update Setup{/t}">
                <input class="button" type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
    </table>
</form>
{else}
<div>
    This page is only used for the ldap backend.
</div>
{/if}
{/block}