{literal}
<script type="text/javascript">
function validateForm(f)
{
    if (isWhitespace(f.pattern.value)) {
        alert('{/literal}{t escape=js}Please enter a pattern.{/t}{literal}');
        selectField(f, 'pattern');
        return false;
    }
    if (f.replacement.value == '') {
        alert('{/literal}{t escape=js}Please enter a replacement value.{/t}{literal}');
        selectField(f, 'replacement');
        return false;
    }
    if (!hasOneSelected(f, 'projects[]')) {
        alert('{/literal}{t escape=js}Please select projects this link filter should be active for.{/t}{literal}');
        selectField(f, 'projects[]');
        return false;
    }
    if (!hasOneSelected(f, 'usr_role')) {
        alert('{/literal}{t escape=js}Please select the minimum user role that should be able to see this link filter.{/t}{literal}');
        selectField(f, 'usr_role');
        return false;
    }
    return true;
}

function checkDelete(f)
{
    if (!hasOneChecked(f, 'items[]')) {
      alert('{/literal}{t escape=js}Please select at least one link filter.{/t}{literal}');
      return false;
    }
    if (!confirm('{/literal}{t escape=js}WARNING: This action will remove the selected link filters permanently.{/t}{literal}\n{/literal}{t}Please click OK to confirm.{/t}{literal}')) {
      return false;
    } else {
      return true;
    }
}
</script>
{/literal}
<table width="100%" border="0" cellspacing="0" cellpadding="1">
    <tr>
        <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2">
                <form name="link_filter_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
                {if $smarty.get.cat == 'edit'}
                <input type="hidden" name="cat" value="update">
                <input type="hidden" name="id" value="{$smarty.get.id|intval}">
                {else}
                <input type="hidden" name="cat" value="new">
                {/if}
                <tr>
                    <td colspan="2">
                        <b>{t}Manage Link Filters{/t}</b> {include file="help_link.tpl.html" topic="link_filters"}
                    </td>
                </tr>
                {if $result != ""}
                <tr>
                    <td colspan="2" align="center" class="error">
                    {if $smarty.post.cat == "new"}
                        {if $result == -1}
                            {t}An error occurred while trying to add the new link filter.{/t}
                        {elseif $result == 1}
                            {t}Thank you, the link filter was added successfully.{/t}
                        {/if}
                    {elseif $smarty.post.cat == "update"}
                        {if $result == -1}
                            {t}An error occurred while trying to update the link filter.{/t}
                        {elseif $result == 1}
                            {t}Thank you, the link filter was updated successfully.{/t}
                        {/if}
                    {elseif $smarty.post.cat == "delete"}
                        {if $result == -1}
                            {t}An error occurred while trying to delete the link filter.{/t}
                        {elseif $result == 1}
                            {t}Thank you, the link filter was deleted successfully.{/t}
                        {/if}
                    {/if}
                    </td>
                </tr>
                {/if}
                <tr>
                    <td width="120">
                        <b>{t}Pattern{/t}: *</b>
                    </td>
                    <td>
                        <input type="text" name="pattern" size="40" value="{$info.lfi_pattern|escape:"html"}">
                        {include file="error_icon.tpl.html" field="pattern"}
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <b>{t}Replacement{/t}: *</b>
                    </td>
                    <td width="80%">
                        <input type="text" name="replacement" size="40" value="{$info.lfi_replacement|escape:"html"}">
                        {include file="error_icon.tpl.html" field="replacement"}
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <b>{t}Description{/t}:</b>
                    </td>
                    <td>
                        <input type="text" name="description" size="50" value="{$info.lfi_description|escape:"html"}">
                        {include file="error_icon.tpl.html" field="description"}
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <nobr><b>{t}Assigned Projects{/t}: *</b></nobr>
                    </td>
                    <td>
                        <select name="projects[]" multiple size="3">
                            {html_options options=$project_list selected=$info.projects}
                        </select>
                        {include file="error_icon.tpl.html" field="projects[]"}
                    </td>
                </tr>
                <tr>
                    <td width="120">
                        <b>{t}Minimum User Role{/t}: *</b>
                    </td>
                    <td width="80%">
                        <select name="usr_role">
                            {html_options options=$user_roles selected=$info.lfi_usr_role}
                        </select>
                        {include file="error_icon.tpl.html" field="usr_role"}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        {if $smarty.get.cat == 'edit'}
                        <input type="submit" value="{t}Update Link Filter{/t}">
                        {else}
                        <input type="submit" value="{t}Create Link Filter{/t}">
                        {/if}
                        <input type="reset" value="{t}Reset{/t}">
                    </td>
                </tr>
                </form>
                <tr>
                    <td colspan="2">
                        <b>{t}Existing Link Filters{/t}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table border="0" width="100%" cellpadding="1" cellspacing="1">
                            <form name="delete_link_filters" onSubmit="return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                            <tr>
                                <td nowrap><input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');"></td>
                                <td>&nbsp;<b>{t}Pattern{/t}</b></td>
                                <td>&nbsp;<b>{t}Replacement{/t}</b></td>
                                <td>&nbsp;<b>{t}Description{/t}</b></td>
                                <td>&nbsp;<b>{t}Minimum Role{/t}</b></td>
                                <td>&nbsp;<b>{t}Projects{/t}</b></td>
                            </tr>
                            {section name="i" loop=$list}
                            {cycle values=$cycle assign="row_color"}
                            <tr>
                                <td width="4" nowrap align="center">
                                    <input type="checkbox" name="items[]" value="{$list[i].lfi_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                                </td>
                                <td width="20%">
                                    &nbsp;<a href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].lfi_id}" title="{t}update this entry{/t}">{$list[i].lfi_pattern|escape:"html"}</a>
                                </td>
                                <td width="20%">
                                    &nbsp;{$list[i].lfi_replacement|escape:"html"}
                                </td>
                                <td width="20%">
                                    &nbsp;{$list[i].lfi_description}
                                </td>
                                <td width="20%">
                                    &nbsp;{$list[i].min_usr_role_name}
                                </td>
                                <td width="20%">
                                    &nbsp;{", "|join:$list[i].project_names}
                                </td>
                            </tr>
                            {sectionelse}
                            <tr>
                                <td colspan="6" align="center">
                                    <i>{t}No link filters could be found.{/t}</i>
                                </td>
                            </tr>
                            {/section}
                            <tr>
                                <td colspan="6">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="4" align="center">
                                                <input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');">
                                                <input type="hidden" name="cat" value="delete">
                                            </td>
                                            <td colspan="4" align="center">
                                                <input type="submit" value="{t}Delete{/t}">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
