<table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
<tr>
  <td>
  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
    {literal}
    <script type="text/javascript">
    <!--
    function validateForm(f) {
      var field, field1, field2;

      field1 = getFormElement(f, 'diskcheck[status]', 0);
      field2 = getFormElement(f, 'diskcheck[partition]');
      if (field1.checked && isWhitespace(field2.value)) {
        alert('{/literal}{t escape=js}Please fill proper partition path{/t}{literal}');
        selectField(f, 'diskcheck[partition]');
        return false;
      }
      return true;
    }

    function disableDiskcheckFields(f, bool)
    {
        if (bool) {
            var bgcolor = '#CCCCCC';
        } else {
            var bgcolor = '#FFFFFF';
        }
        var field = getFormElement(f, 'diskcheck[partition]');
        field.disabled = bool;
        field.style.backgroundColor = bgcolor;
    }

    window.onload = function() {
      var f = getForm('monitor_setup_form');
      var field1 = getFormElement(f, 'diskcheck[status]', 0);
      disableDiskcheckFields(f, !field1.checked);
    }
    //-->
    </script>
    {/literal}
    <form name="monitor_setup_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
    <input type="hidden" name="cat" value="update">
    <tr>
    <td colspan="2" class="default">
      <b>{t}Monitor Setup{/t}</b>
    </td>
    </tr>
    {if $result != ""}
    <tr>
    <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
      {if $result == -1}
      {t}ERROR: The system doesn't have the appropriate permissions to create the configuration file in the setup directory{/t}
      ({$app_config_path}). {t}Please contact your local system administrator and ask for write privileges on the provided path.{/t}
      {elseif $result == -2}
      {t}ERROR: The system doesn't have the appropriate permissions to update the configuration file in the setup directory{/t}
      ({$app_setup_file}). {t}Please contact your local system administrator and ask for write privileges on the provided filename.{/t}
      {elseif $result == 1}
      {t}Thank you, the setup information was saved successfully.{/t}
      {/if}
    </td>
    </tr>
    {/if}
    <tr>

    <td width="120" bgcolor="{$cell_color}" class="default_white">
      <b>{t}Check Disk Space:{/t}</b>
    </td>
    <td bgcolor="{$light_color}" class="default">
      <table>
      <tr>
        <td colspan="2" class="default_white">
        <input type="radio" name="diskcheck[status]" value="enabled" id="diskcheck[status].enabled" {if $setup.monitor.diskcheck.status == 'enabled'}checked{/if} onClick="disableDiskcheckFields(this.form, false);">
        <label for="diskcheck[status].enabled">
          <a id="link" class="link">{t}Enabled{/t}</a>
        </label>
        &nbsp;&nbsp;
        <input type="radio" name="diskcheck[status]" value="disabled" id="diskcheck[status].disabled" {if $setup.monitor.diskcheck.status != 'enabled'}checked{/if} onClick="disableDiskcheckFields(this.form, true);">
        <label for="diskcheck[status].disabled">
          <a id="link" class="link">{t}Disabled{/t}</a>
        </label>
        </td>
      </tr>
      <tr>
        <td width="100" class="default" align="right">
        {t}Partition:{/t}&nbsp;
        </td>
        <td width="80%">
        <input type="text" name="diskcheck[partition]" value="{$setup.monitor.diskcheck.partition}" class="default">
        {include file="error_icon.tpl.html" field="diskcheck[partition]"}
        <span class="small_default">{t escape=no 1="<b>/</b>"}(default %1){/t}</span>
        </td>
      </tr>
      </table>
    </td>
    </tr>

    <td width="120" bgcolor="{$cell_color}" class="default_white">
      <b>{t}Check Paths:{/t}</b>
    </td>
    <td bgcolor="{$light_color}" class="default">
      <table>
      <tr>
        <td class="default" width="120">
        {html_radios name='paths[status]' options=$enable_disable selected=$setup.monitor.paths.status separator='<br/>'}
        </td>
        <td>
          <span class="small_default">
          {t}Whether to check permissions of directories and config files.{/t}
          </span><br />
        </td>
      </tr>
      </table>
    </td>
    </tr>

    <td width="120" bgcolor="{$cell_color}" class="default_white">
      <b>{t}Check IRC Bot:{/t}</b>
    </td>
    <td bgcolor="{$light_color}" class="default">
      <table>
      <tr>
        <td class="default" width="120">
        {html_radios name='ircbot[status]' options=$enable_disable selected=$setup.monitor.ircbot.status separator='<br/>'}
        </td>
        <td>
          <span class="small_default">
          {t}Whether to check if IRC Bot is running.{/t}
          </span><br />
        </td>
      </tr>
      </table>
    </td>
    </tr>

    <tr>
    <td colspan="2" bgcolor="{$cell_color}" align="center">
      <input class="button" type="submit" value="{t}Update Setup{/t}">
      <input class="button" type="reset" value="{t}Reset{/t}">
    </td>
    </tr>
    </form>
  </table>
  </td>
</tr>
</table>
