
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              {literal}
              <script type="text/javascript">
              <!--
              function validateForm(f)
              {
                  if (isWhitespace(f.title.value)) {
                      alert('{/literal}{t escape=js}Please enter the title of this news entry.{/t}{literal}');
                      selectField(f, 'title');
                      return false;
                  }
                  if (!hasOneSelected(f, 'projects[]')) {
                      alert('{/literal}{t escape=js}Please assign the appropriate projects for this news entry.{/t}{literal}');
                      selectField(f, 'projects[]');
                      return false;
                  }
                  return true;
              }
              //-->
              </script>
              {/literal}
              <form name="news_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id|intval}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
              <tr>
                <td colspan="2" class="default">
                  <b>{t}Manage News{/t}</b>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      {t}An error occurred while trying to add the news entry.{/t}
                    {elseif $result == -2}
                      {t}Please enter the title for this news entry.{/t}
                    {elseif $result == -3}
                      {t}Please enter the message for this news entry.{/t}
                    {elseif $result == 1}
                      {t}Thank you, the news entry was added successfully.{/t}
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      {t}An error occurred while trying to update the news entry information.{/t}
                    {elseif $result == -2}
                      {t}Please enter the title for this news entry.{/t}
                    {elseif $result == -3}
                      {t}Please enter the message for this news entry.{/t}
                    {elseif $result == 1}
                      {t}Thank you, the news entry was updated successfully.{/t}
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="140" bgcolor="{$cell_color}" class="default_white">
                  <nobr><b>{t}Assigned Projects{/t}:</b></nobr>
                </td>
                <td bgcolor="{$light_color}">
                  <select name="projects[]" multiple size="3" class="default">
                  {html_options options=$project_list selected=$info.projects}
                  </select>
                  {include file="error_icon.tpl.html" field="projects[]"}
                </td>
              </tr>
              <tr>
                <td width="140" bgcolor="{$cell_color}" class="default_white">
                  <b>{t}Status{/t}:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <select name="status" class="default">
                    <option value="active" {if $info.nws_status != 'inactive'}selected{/if}>{t}Active{/t}</option>
                    <option value="inactive" {if $info.nws_status == 'inactive'}selected{/if}>{t}Inactive{/t}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td width="140" bgcolor="{$cell_color}" class="default_white">
                  <b>{t}Title{/t}:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="title" size="40" class="default" value="{$info.nws_title|escape:"html"}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td width="140" bgcolor="{$cell_color}" class="default_white">
                  <b>{t}Message{/t}:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <textarea name="message" cols="50" rows="10">{$info.nws_message|escape:"html"}</textarea>
                  {include file="error_icon.tpl.html" field="message"}
                </td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="{t}Update News Entry{/t}">
                  {else}
                  <input class="button" type="submit" value="{t}Create News Entry{/t}">
                  {/if}
                  <input class="button" type="reset" value="{t}Reset{/t}">
                </td>
              </tr>
              </form>
              <tr>
                <td colspan="2" class="default">
                  <b>{t}Existing News Entries{/t}:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  {literal}
                  <script type="text/javascript">
                  <!--
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('{/literal}{t escape=js}Please select at least one of the news entries.{/t}{literal}');
                          return false;
                      }
                      if (!confirm('{/literal}{t escape=js}This action will permanently remove the selected news entries.{/t}{literal}')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <form onSubmit="return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="cat" value="delete">
                    <tr>
                      <td width="4" bgcolor="{$cell_color}" nowrap><input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');"></td>
                      <td width="40%" bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Title{/t}</b></td>
                      <td width="40%" bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Projects{/t}</b></td>
                      <td width="20%" bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Status{/t}</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center"><input type="checkbox" name="items[]" value="{$list[i].nws_id}"></td>
                      <td width="40%" bgcolor="{$row_color}" class="default">
                        &nbsp;<a class="link" href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].nws_id}" title="{t}update this entry{/t}">{$list[i].nws_title}</a>
                      </td>
                      <td width="40%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].projects|escape:"html"}
                      </td>
                      <td width="20%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].nws_status|escape:"html"}
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="4" bgcolor="{$light_color}" align="center" class="default">
                        <i>{t}No news entries could be found.{/t}</i>
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="4" align="center" bgcolor="{$cell_color}">
                        <input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="3" bgcolor="{$cell_color}" align="center">
                        <input type="submit" value="{t}Delete{/t}" class="button">
                      </td>
                    </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

