{extends "manage/manage.tpl.html"}

{block "manage_content"}

{literal}
<script type="text/javascript">
    <!--
    function checkDelete()
    {
        if (!Validation.hasOneChecked('items[]')) {
            alert('{/literal}{t escape=js}Please select at least one of the priorities.{/t}{literal}');
            return false;
        }
        if (!confirm('{/literal}{t escape=js}This action will remove the selected entries.{/t}{literal}')) {
            return false;
        } else {
            return true;
        }
    }
    function validateForm()
    {
        if (Validation.isFieldWhitespace('title')) {
            Validation.selectField('title');
            alert('{/literal}{t escape=js}Please enter the title of this priority{/t}{literal}');
            return false;
        }
        if (Validation.isFieldWhitespace('rank')) {
            Validation.selectField('rank');
            alert('{/literal}{t escape=js}Please enter the rank of this priority{/t}{literal}');
            return false;
        }
        return true;
    }
    $().ready(function() {
        $('.select_all').click(function() { Eventum.toggleCheckAll('items[]'); });

        $('#delete_form').submit(checkDelete);
        $('#priority_form').submit(validateForm);
    });
    //-->
</script>
{/literal}
<form id="priority_form" method="post" action="{$smarty.server.PHP_SELF}">
    <input type="hidden" name="prj_id" value="{$project.prj_id}">
    {if $smarty.get.cat|default:'' == 'edit'}
    <input type="hidden" name="cat" value="update">
    <input type="hidden" name="id" value="{$smarty.get.id|intval}">
    {else}
    <input type="hidden" name="cat" value="new">
    {/if}
    <table class="bordered">
        <tr class="title">
            <th colspan="2">
                {t}Manage Priorities{/t}
                <div class="right">
                    ({t}Current Project{/t}: {$project.prj_title})
                </div>
            </th>
        </tr>
        <tr>
            <th width="120">
                {t}Title{/t}: *
            </th>
            <td>
                <input type="text" name="title" size="40" value="{$info.pri_title|default:''}">
                {include file="error_icon.tpl.html" field="title"}
            </td>
        </tr>
        <tr>
            <th width="120">
                {t}Rank{/t}: *
            </th>
            <td>
                <input type="text" name="rank" size="5" value="{$info.pri_rank|default:''}">
                {include file="error_icon.tpl.html" field="rank"}
            </td>
        </tr>
        <tr class="buttons">
            <td colspan="2">
                {if $smarty.get.cat|default:'' == 'edit'}
                <input type="submit" value="{t}Update Priority{/t}">
                {else}
                <input type="submit" value="{t}Create Priority{/t}">
                {/if}
                <input type="reset" value="{t}Reset{/t}">
            </td>
        </tr>
    </table>
</form>

<form id="delete_form" method="post" action="{$smarty.server.PHP_SELF}">
    <input type="hidden" name="prj_id" value="{$project.prj_id}">
    <input type="hidden" name="cat" value="delete">
    <table class="bordered">
        <tr class="title">
            <th colspan="3">
                {t}Existing Priorities{/t}:
            </th>
        </tr>
        <tr>
            <th width="4" nowrap><input type="button" value="{t}All{/t}" class="select_all"></th>
            <th align="center">&nbsp;{t}Rank{/t}&nbsp;</th>
            <th width="100%">&nbsp;{t}Title{/t}</th>
        </tr>
        {section name="i" loop=$list}
        <tr class="{cycle values='odd,even'}">
            <td width="4" nowrap align="center"><input type="checkbox" name="items[]" value="{$list[i].pri_id}"></td>
            <td align="center" nowrap>
                <a href="{$smarty.server.PHP_SELF}?cat=change_rank&id={$list[i].pri_id}&prj_id={$project.prj_id}&rank=desc"><img src="{$core.rel_url}images/desc.gif" border="0"></a> {$list[i].pri_rank}
                <a href="{$smarty.server.PHP_SELF}?cat=change_rank&id={$list[i].pri_id}&prj_id={$project.prj_id}&rank=asc"><img src="{$core.rel_url}images/asc.gif" border="0"></a>
            </td>
            <td width="100%">
                &nbsp;<a href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].pri_id}&prj_id={$project.prj_id}" title="{t}update this entry{/t}">{$list[i].pri_title}</a>
            </td>
        </tr>
        {sectionelse}
        <tr>
            <td colspan="3" align="center">
                {t}No priorities could be found.{/t}
            </td>
        </tr>
        {/section}
        <tr class="buttons">
            <td width="4" align="center">
                <input type="button" value="{t}All{/t}" class="select_all">
            </td>
            <td colspan="2">
                <input type="submit" value="{t}Delete{/t}">
            </td>
        </tr>
    </table>
</form>
</table>
{/block}