{literal}
<script type="text/javascript">
function validateForm(f)
{
    if (isWhitespace(f.product_name.value)) {
        alert('{/literal}{t escape=js}Please enter the name of this product.{/t}{literal}');
        selectField(f, 'product_name');
        return false;
    }
    if (!hasOneSelected(f, 'projects[]')) {
        alert('{/literal}{t escape=js}Please assign the appropriate projects for this product.{/t}{literal}');
        selectField(f, 'projects[]');
        return false;
    }
    if (!hasOneSelected(f, 'users[]')) {
        alert('{/literal}{t escape=js}Please assign the appropriate users for this product.{/t}{literal}');
        selectField(f, 'users[]');
        return false;
    }
    if (f.manager.value == '') {
        alert('{/literal}{t escape=js}Please assign the manager of this product.{/t}{literal}');
        selectField(f, 'manager');
        return false;
    } else {
        // make sure manager is also in users list
        for (i = 0; i < f.elements['users[]'].options.length; i++) {
            if (f.elements['users[]'].options[i].value == f.manager.value) {
                f.elements['users[]'].options[i].selected = true;
            }
        }
    }
    return true;
}

function checkDelete(f)
{
    if (!hasOneChecked(f, 'items[]')) {
      alert('{/literal}{t escape=js}Please select at least one of the products.{/t}{literal}');
      return false;
    }
    if (!confirm('{/literal}{t escape=js}WARNING: This action will remove the selected products permanently.{/t}{literal}\n{/literal}{t escape=js}Please click OK to confirm.{/t}{literal}')) {
      return false;
    } else {
      return true;
    }
}
</script>
{/literal}
<table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1">
    <tr>
        <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2">
                <form name="product_form" onSubmit="return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
                {if $smarty.get.cat == 'edit'}
                <input type="hidden" name="cat" value="update">
                <input type="hidden" name="id" value="{$smarty.get.id|intval}">
                {else}
                <input type="hidden" name="cat" value="new">
                {/if}
                <tr>
                    <td colspan="2" class="default">
                        <b>{t}Manage Products{/t}</b>
                    </td>
                </tr>
                {if $result != ""}
                <tr>
                    <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                    {if $smarty.post.cat == "new"}
                        {if $result == -1}
                            {t}An error occurred while trying to add the new product.{/t}
                        {elseif $result == 1}
                            {t}Thank you, the product was added successfully.{/t}
                        {/if}
                    {elseif $smarty.post.cat == "update"}
                        {if $result == -1}
                            {t}An error occurred while trying to update the product information.{/t}
                        {elseif $result == 1}
                            {t}Thank you, the product was updated successfully.{/t}
                        {/if}
                    {/if}
                    </td>
                </tr>
                {/if}
                <tr>
                    <td width="120" bgcolor="{$cell_color}" class="default_white">
                        <b>{t}Title:{/t} *</b>
                    </td>
                    <td bgcolor="{$light_color}">
                        <input type="text" name="title" size="40" class="default" value="{$info.pro_title}">
                        {include file="error_icon.tpl.html" field="title"}
                    </td>
                </tr>
                <tr>
                    <td width="120" bgcolor="{$cell_color}" class="default_white">
                        <b>{t}Version How To:{/t}</b>
                    </td>
                    <td bgcolor="{$light_color}">
                        <input type="text" name="version_howto" size="100" class="default" value="{$info.pro_version_howto|escape}">
                        {include file="error_icon.tpl.html" field="version_howto"}
                    </td>
                </tr>
                <tr>
                    <td width="120" bgcolor="{$cell_color}" class="default_white">
                        <nobr><b>{t}Rank:{/t} *</b></nobr>
                    </td>
                    <td bgcolor="{$light_color}">
                        <input type="text" name="rank" size="3" value="{$info.pro_rank}" />
                        {include file="error_icon.tpl.html" field="rank"}
                    </td>
                </tr>
                <tr>
                    <td width="120" bgcolor="{$cell_color}" class="default_white">
                        <b>{t}Removed:{/t} *</b>
                    </td>
                    <td bgcolor="{$light_color}" width="80%">
                        <input type="checkbox" name="removed" value="1" {if $info.pro_removed == 1}checked{/if} />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" bgcolor="{$cell_color}" align="center">
                        {if $smarty.get.cat == 'edit'}
                        <input class="button" type="submit" value="{t}Update Product{/t}">
                        {else}
                        <input class="button" type="submit" value="{t}Create Product{/t}">
                        {/if}
                        <input class="button" type="reset" value="{t}Reset{/t}">
                    </td>
                </tr>
                </form>
                <tr>
                    <td colspan="2" class="default">
                        <b>{t}Existing Products{/t}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table border="0" width="100%" cellpadding="1" cellspacing="1">
                            <form name="delete_product" onSubmit="return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                            <tr>
                                <td bgcolor="{$cell_color}" nowrap><input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');"></td>
                                <td bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Title{/t}</b></td>
                                <td bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Version How To{/t}</b></td>
                                <td bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Rank{/t}</b></td>
                                <td bgcolor="{$cell_color}" class="default_white">&nbsp;<b>{t}Removed{/t}</b></td>
                            </tr>
                            {section name="i" loop=$list}
                            {cycle values=$cycle assign="row_color"}
                            <tr>
                                <td width="4" nowrap bgcolor="{$row_color}" align="center">
                                    <input type="checkbox" name="items[]" value="{$list[i].pro_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                                </td>
                                <td width="20%" bgcolor="{$row_color}" class="default">
                                    &nbsp;<a class="link" href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].pro_id}" title="{t}update this entry{/t}">{$list[i].pro_title}</a>
                                </td>
                                <td width="20%" bgcolor="{$row_color}" class="default">
                                    &nbsp;{$list[i].pro_version_howto}
                                </td>
                                <td width="40%" bgcolor="{$row_color}" class="default">
                                    &nbsp;{$list[i].pro_rank}
                                </td>
                                <td width="20%" bgcolor="{$row_color}" class="default">
                                    &nbsp;{if $list[i].pro_removed == 1}Yes{/if}
                                </td>
                            </tr>
                            {sectionelse}
                            <tr>
                                <td colspan="5" bgcolor="{$light_color}" align="center" class="default">
                                    <i>{t}No products could be found.{/t}</i>
                                </td>
                            </tr>
                            {/section}
                            <tr>
                                <td colspan="5" bgcolor="{$cell_color}">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="4" bgcolor="{$cell_color}" align="center">
                                                <input type="button" value="{t}All{/t}" class="shortcut" onClick="toggleSelectAll(this.form, 'items[]');">
                                                <input type="hidden" name="cat" value="delete">
                                            </td>
                                            <td colspan="4" bgcolor="{$cell_color}" align="center">
                                                <input type="submit" value="{t}Delete{/t}" class="button">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
