{extends "manage/manage.tpl.html"}

{block "javascripts"}
<script type="text/javascript">
function validateForm()
{
    if (!Validation.hasOneChecked('scm_integration'))  {
        alert('{t escape=js}Please choose whether the SCM integration feature should be enabled or not.{/t}');
        return false;
    }

    return true;
}

function disableSCMFields(bool)
{
  $('#scm_setup').css('display', !bool ? 'table-row' : 'none');
}

function setDisabledFields()
{
  if (Eventum.getField('scm_integration').first().is(':checked')) {
    disableSCMFields(false);
  } else {
    disableSCMFields(true);
  }
}

$(function() {
  $('#general_setup_form').submit(validateForm);
  $('input[name=scm_integration]').change(setDisabledFields);
  setDisabledFields();
});
</script>
{/block}

{block "manage_content"}

<form id="general_setup_form" method="post">
<input type="hidden" name="cat" value="update">
  <table class="bordered">
    <tr class="title">
      <th colspan="2">
        {t}SCM Integration{/t}
      </th>
    </tr>

    <tr>
      <th width="120">
        {t escape=no}SCM <br />Integration{/t}: {include file="help_link.tpl.html" topic="scm_integration"}
      </th>
      <td>
        <table>
          <tr>
            <td colspan="2">
              <label>
                <input type="radio" name="scm_integration" value="enabled" {if $setup.scm_integration|default:'' == 'enabled'}checked{/if}>
                {t}Enabled{/t}</label>&nbsp;&nbsp;
              <label>
                <input type="radio" name="scm_integration" value="disabled" {if $setup.scm_integration|default:'' != 'enabled'}checked{/if}>
                {t}Disabled{/t}
              </label>
            </td>
          </tr>
        </table>
      </td>
      </tr>
    <tr id="scm_setup">
      <th></th>
      <td>
        {t escape=no}To add scm backends, add to your <b>setup.php</b> like{/t}:
        {literal}<pre>
  'scm' => array(
    'cvs' => array(
      // cvsweb urls
      'name' => 'cvs',
      'checkout_url' => 'http://cvs.example.org/{MODULE}/{FILE}?rev={NEW_VERSION}&content-type=text/x-cvsweb-markup',
      'diff_url' => 'http://cvs.example.org/{MODULE}/{FILE}?r1={OLD_VERSION}&r2={NEW_VERSION}&f=h',
      'log_url' => 'http://cvs.example.org/{MODULE}/{FILE}?r1={VERSION}#rev{VERSION}',
    ),
    'svn' => array(
      // trac urls
      'name' => 'svn',
      'checkout_url' => 'http://trac.example.org/browser/{MODULE}/{FILE}?rev={VERSION}',
      'diff_url' => 'http://trac.example.org/changeset/{VERSION}/{MODULE}/{FILE}',
      'log_url' => 'http://trac.example.org/log/{MODULE}/{FILE}?rev={VERSION}',
    ),
    'git' => array(
      // gitweb urls
      'name' => 'git',
      'checkout_url' => 'http://git.example.org/?p=test.git;a=blob;f={FILE};hb={VERSION}',
      'diff_url' => 'http://git.example.org/?p=test.git;a=commitdiff;h={VERSION}',
      'log_url' => 'http://git.example.org/?p=test.git;a=history;f={FILE};hb={VERSION}',
    ),
  )
</pre>{/literal}
      </td>
    </tr>

    <tr class="buttons">
      <td colspan="2" align="center">
        <input class="button" type="submit" value="{t}Update Setup{/t}">
        <input class="button" type="reset" value="{t}Reset{/t}">
      </td>
    </tr>
  </table>
</form>
{/block}
